[2022-10-12 17:40] JMukta25 opened #1 "Question 1"
You are given a 0-indexed m x n integer matrix grid and an integer k. You are currently at position (0, 0) and you want to reach position (m - 1, n - 1) moving only down or right.

Find Number of Paths where the XOR of elements on the path is 0.

Example 1:
grid= [[5,2,0],[2,0,2],[0,7,5]]
output : 3

Explaination : There are 3 Paths
5^2^0^2^5=0
5^2^0^2^5=0
5^2^0^2^5=0
Constraints:

m == grid.lengt

[2022-10-12 17:43] JMukta25 opened #2 "Question 2"
You are given an array words of size n consisting of non-empty strings.

We define the score of a string word as the number of strings words[i] such that word is a prefix of words[i].

For example, if words = ["a", "ab", "abc", "cab"], then the score of "ab" is 2, since "ab" is a prefix of both "ab" and "abc".
Return an array answer of size n where answer[i] is the sum of scores of every non-empty

[2022-10-12 17:44] JMukta25 opened #3 "Question 3"
you are given a 0-indexed string word, consisting of lowercase English letters. You need to select one index and remove the letter at that index from word so that the frequency of every letter present in word is equal.

Return true if it is possible to remove one letter so that the frequency of all letters in word are equal, and false otherwise.

Note:

The frequency of a letter x is the number of

[2022-10-12 17:50] JMukta25 opened #4 "Question 4"
You are given two 0-indexed arrays, nums1 and nums2, consisting of non-negative integers. There exists another array, nums3, which contains the bitwise XOR of all pairings of integers between nums1 and nums2 (every integer in nums1 is paired with every integer in nums2 exactly once).

Return the bitwise XOR of all integers in nums3.

 Input: nums1 = [2,1,3], nums2 = [10,2,5,0]
Output: 13
Explanati

[2022-10-12 17:51] JMukta25 opened #5 "Question 5"
Paheli has a string S with her. Paheli will win if the string contains a contiguous substring of length strictly greater than 3 in which all its characters are vowels.

Check if Paheli won or not.

Note that, in english alphabet, vowels are a, e, i, o, and u.
Input Format-
Each test case contains of a single line of input, a string S.
Output Format-For each test case, if Paheli is happy, print WIN

[2022-10-12 17:53] JMukta25 opened #6 "Question 6"
Problem
Tanu and Manu are playing a game with a binary string S of length N and an empty string T.
They both take turns and Tanu plays first.
In Tanu's turn, she picks the first character of string S, appends the character to either the front or back of string T and deletes the chosen character from string S.
In Manu's turn, he picks the last character of string S, appends the character to either

[2022-10-12 17:55] JMukta25 opened #7 "Question 7"
Problem
For the human eye, primary colours are red, green, and blue.

Combining 1 drop each of any two primary colours produces a new type of secondary colour. For example, mixing red and green gives yellow, mixing green and blue gives cyan, and, mixing red and blue gives magenta.

You have X, Y, and Z drops of red, green, and blue colours respectively. Find the maximum total number of distinct co

[2022-10-17 07:36] GayatriChaudhari1281 commented on #5
Name-Gayatri Chaudhari
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue

[2022-10-17 07:40] GayatriChaudhari1281 commented on #4
Name-Gayatri Chaudhari
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue

[2022-10-17 08:43] gaurijoshi22 commented on #5
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue

[2022-10-17 08:46] gaurijoshi22 commented on #3
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue

[2022-10-17 08:49] gaurijoshi22 commented on #7
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue

[2022-10-17 08:52] JMukta25 commented on #4
Sure

[2022-10-17 08:56] JMukta25 commented on #7
I have assigned.Happy Coding!!

[2022-10-17 12:52] OjaswiPande commented on #3
Ojaswi Pande
CCOEW
SY COMP
can you assign this issue to me?

[2022-10-17 14:20] JMukta25 commented on #5
This issue has been assigned to someone else already.

[2022-10-17 14:40] GayatriChaudhari1281 commented on #2
Name-Gayatri Chaudhari
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue

[2022-10-17 14:56] GayatriChaudhari1281 commented on #1
Name-Gayatri Chaudhari
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue

[2022-10-17 15:12] gaurijoshi22 commented on #6
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue

[2022-10-17 15:18] Kriti-2308 commented on #3
kritika dubey
cummins college of engineering for women
dept- IT
i would like to work on this issue

[2022-10-17 15:20] Kriti-2308 commented on #6
kritika dubey
Cummins College of Engineering for Women, Pune
Dept- IT
I would like to work on this issue

[2022-10-17 15:21] Kriti-2308 commented on #7
kritika dubey
Cummins College of Engineering for Women, Pune
Dept- IT
I would like to work on this issue

[2022-10-17 16:05] shreya2208 commented on #3
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue

[2022-10-17 16:27] OjaswiPande commented on #3
Please accept my pull request if it matches your requirements

[2022-10-17 16:38] Mahi1901 opened #19 "Question 9"
There are two integers: A and B. In one operation any integer d can be chosen, and one of the following two moves can be performed:
Add d to A and subtract d from B.
Add d to B and subtract d from A.
Can A and B be made equal with as many operations required to perform?

Constraints
1≤T≤1000
1≤A,B≤1000

Sample 1:
Input
2
3 3
1 2
Output
Yes
No

Explanation:
Test case 1: Since A and B are already eq

[2022-10-17 16:41] #4 closed

[2022-10-17 16:46] Mahi1901 opened #20 "Question 10"
An array A of N integers can be rearranged in any manner.The array is invalid if any two adjacent elements are equal. Determine whether there exists a rearrangement of this manner.

Constraints
1≤T≤10^5
2≤N≤10^5
−10^9 ≤Ai ≤10^9
Sum of N over all test cases does not exceed 2⋅10^5.

Sample 1:
Input
2
5
1 1 1 1 1
3
3 3 4
Output
No
Yes

Explanation:
Test case 1: No rearrangement possible.
Test case 2:

[2022-10-17 16:48] ashish5433 commented on #20
Can you assign me this @Mahi1901 pls?

[2022-10-17 16:56] ashish5433 commented on #19
Could you pls assign it to me @Mahi1901 ?

[2022-10-17 16:57] shreya2208 commented on #20
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue

[2022-10-17 16:58] shreya2208 commented on #19
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue

[2022-10-17 16:59] Mahi1901 commented on #19
Write your college name, year and branch.
ashish5433

[2022-10-17 17:01] Mahi1901 commented on #20
@ashish5433
Write your college name, year and branch.

[2022-10-17 17:17] Rasika020 commented on #20
Rasika Devanhalli
Cummins College of Engineering, Pune
Branch: IT
I would like to work on this issue

[2022-10-17 17:18] komalvhanmane opened #21 "Quetion 11"
There are N people standing in a circle waiting to be executed. The counting out begins at some point in the circle and proceeds around the circle in a fixed direction. In each step, a certain number of people are skipped and the next person is executed. The elimination proceeds around the circle (which is becoming smaller and smaller as the executed people are removed), until only the last person

[2022-10-17 17:20] Rasika020 commented on #19
Rasika Devanhalli
Cummins College of Engineering, Pune
Branch: IT
I would like to work on this issue

[2022-10-17 17:24] komalvhanmane opened #22 "Quetion 12"
Lucky numbers are subset of integers. Rather than going into much theory, let us see the process of arriving at lucky numbers,
Take the set of integers
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,……
First, delete every second number, we get following reduced set.
1, 3, 5, 7, 9, 11, 13, 15, 17, 19,…………
Now, delete every third number, we get
1, 3, 7, 9, 13, 15, 19,….….
Continue

[2022-10-17 17:30] SrigiriSruthi commented on #22
@komalvhanmane can u please assign this to me?

[2022-10-17 17:32] SrigiriSruthi commented on #21
@komalvhanmane can u assign this to me?

[2022-10-17 17:37] komalvhanmane commented on #21
@SrigiriSruthi Please mention your college , year , branch , name.

[2022-10-17 17:38] ashish5433 commented on #19
College name : Indian Institute of Information Technology ,Lucknow
year 2025
Branch : IT

[2022-10-17 17:38] SrigiriSruthi commented on #21
college: Amrita School of engineering, Bangalore
year: 3
Branch: CSE
Name: Srigiri Sruthi

[2022-10-17 17:41] komalvhanmane commented on #21
@SrigiriSruthi I have assigned you this issue work on it.  :)

[2022-10-17 17:55] Mahi1901 opened #24 "Question 13"
You are given an array A, of length N. You can perform the following operation any number of times (possibly 0 times) :
Choose any two indices i and j and replace either Ai orAj with gcd(Ai, Aj).
Output the minimum possible sum of the array that you can achieve.

Constraints
1≤T≤100
2≤N≤10^5
1≤Ai ≤10^9
The sum of N over all test cases won't exceed 3 * 10^5.

Sample 1:
Input
2
2
5 10
3
2 2 6
Output

[2022-10-17 17:58] Mahi1901 commented on #19
I have assigned. Happy coding!

[2022-10-17 17:59] Jatin020403 commented on #24
Can you please assign me for the issue

[2022-10-17 18:00] Mahi1901 commented on #24
Write your college name, year and branch.
@Jatin020403

[2022-10-17 18:01] Jatin020403 commented on #24
VIT, 2022, CSE

[2022-10-17 18:02] Mahi1901 commented on #24
I have assigned. Happy coding!

[2022-10-17 18:10] ashish5433 commented on #20
College name : Indian Institute of Information Technology , Lucknow
Branch : IT
Year 2025

[2022-10-17 18:18] #19 closed

[2022-10-17 18:24] GayatriChaudhari1281 commented on #5
@JMukta25 I have submitted the solution for this issue and it has been merged into main repository as well. Can you check once?

[2022-10-17 18:28] codemii commented on #22
@komalvhanmane would like to work on this. Could you please assign this to me ? Thanks!!

[2022-10-17 18:36] SrigiriSruthi commented on #22
@komalvhanmane can come up with an optimal approach. can u please assign me this?

[2022-10-17 18:53] Jatin020403 commented on #24
Pull request created!

[2022-10-18 02:00] komalvhanmane commented on #22
@codemii Please mention your college , year , branch , name.

[2022-10-18 02:05] komalvhanmane opened #27 "Quetion 14"
The count-and-say sequence is a sequence of digit strings defined by the recursive formula:

countAndSay(1) = "1"
countAndSay(n) is the way you would "say" the digit string from countAndSay(n-1), which is then converted into a different digit string.
To determine how you "say" a digit string, split it into the minimal number of substrings such that each substring contains exactly one unique digit.

[2022-10-18 03:04] gaurijoshi22 commented on #22
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology
I would like to work on this issue
Can you please assign me this issue?

[2022-10-18 04:18] shreya2208 commented on #27
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-18 04:21] shreya2208 commented on #22
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-18 04:59] komalvhanmane commented on #27
@shreya2208 I have assigned you this issue work on it. :)

[2022-10-18 05:03] komalvhanmane opened #28 "Question 15"
You are given a 0-indexed string s consisting of only lowercase English letters, where each letter in s appears exactly twice. You are also given a 0-indexed integer array distance of length 26.

Each letter in the alphabet is numbered from 0 to 25 (i.e. 'a' -> 0, 'b' -> 1, 'c' -> 2, ... , 'z' -> 25).

In a well-spaced string, the number of letters between the two occurrences of the ith letter is

[2022-10-18 05:06] komalvhanmane opened #29 "Question 16"
John participates in an annual walking competition called Walktober. The competition runs for a total of N days and tracks the daily steps of the participants for all the N days. Each participant will be assigned a unique ID ranging from 1 to M where M is the total number of registered participants. A global scoreboard is maintained tracking the daily steps of each participant.

John is determined

[2022-10-18 05:08] komalvhanmane opened #30 "Question 17"
John loves to play computer games. He recently discovered an interesting game. In the game there are N cells, which are aligned in a row from left to right and are numbered with consecutive integers starting from 1. Initially, all cells are coloured white. A cell is valid if it has white color and it does not have any adjacent red colored cell. On each turn, a player paints any valid cell with the

[2022-10-18 05:10] komalvhanmane opened #31 "Question 18"
You are given an array nums consisting of positive integers.

We call a subarray of nums nice if the bitwise AND of every pair of elements that are in different positions in the subarray is equal to 0.

Return the length of the longest nice subarray.

A subarray is a contiguous part of an array.

Note that subarrays of length 1 are always considered nice.

Example 1:

Input: nums = [1,3,8,48,10]
O

[2022-10-18 05:13] komalvhanmane opened #32 "Question 19"
Problem
After the troubles with printing advertising for IO two years ago, the marketing team of the conference decided to use an interactive installation. It consists of a matrix of 2N rows and 2N columns of touchscreens. Each touchscreen can display either an uppercase I or an uppercase O. When one of the screens is touched, it switches the letter it displays to the one it was not displaying rig

[2022-10-18 05:17] shreya2208 commented on #28
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-18 05:19] shreya2208 commented on #31
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-18 05:39] mallikpramod commented on #30
hello @komalvhanmane
i want to solve this problem can you please assign me.

[2022-10-18 05:43] komalvhanmane commented on #30
@mallikpramod Mention your Name , College , Branch ,Year .

[2022-10-18 05:48] komalvhanmane opened #33 "Question 20"
A group of N students prepares together for upcoming programming competitions such as Kick Start and Code Jam by Google. To help each other prepare, it was decided that each student will pick a mentor among other students. A mentor will help their mentee to solve problems, learn algorithms, track their progress, and will generally support them throughout preparation.

Each student will have exactl

[2022-10-18 05:50] mallikpramod commented on #30
I m Pramod kumar mallik
from NIT Rourkela
CSE, BTech under graduate 3rd year

[2022-10-18 05:51] mallikpramod commented on #30
@komalvhanmane can i solve this problem other than java?

[2022-10-18 05:52] komalvhanmane commented on #30
Yes you can 👍

[2022-10-18 06:06] mallikpramod commented on #29
Hello @komalvhanmane
i can also solve this problem can you please assign me

[2022-10-18 07:20] mallikpramod commented on #33
hello @komalvhanmane
i m Pramod Kumar Mallik, I will glad if you assign me this problem also.

[2022-10-18 08:03] sayli2003 commented on #28
SAYLI BOROLE
CCOEW
COMP-A1
I would like to work on this issue

[2022-10-18 08:40] #30 closed

[2022-10-18 08:41] komalvhanmane commented on #28
@sayli2003 I have assigned you this issue work on it :)

[2022-10-18 09:36] shreya2208 commented on #27
@komalvhanmane  I have submitted the solution for this issue and it has been merged into main repository as well. Can you check once?
Any more changes required

[2022-10-18 10:19] komalvhanmane opened #36 "Question 21"
You are given a [palindrome](https://en.wikipedia.org/wiki/Palindrome) string P of length N consisting of only lowercase letters of the English alphabet. Find the shortest non-empty palindrome string Q such that P concatenated with Q forms a palindrome. Formally, the string PQ forms a palindrome.

Input
The first line of the input gives the number of test cases, T. T test cases follow. Each test c

[2022-10-18 10:22] komalvhanmane opened #37 "Question 22"
Crowdsource is organizing a campaign for [Image Labeler task ](https://goo.gle/crowdsource-ks-imagelabeler)with participants across N regions. The number of participants from each of these regions are represented by A1,A2,…,AN.

In the Image Labeler task, there are M categories. Crowdsource assigns participants to these categories in such a way that all participants from a region are assigned to t

[2022-10-18 10:31] komalvhanmane opened #38 "Question 23"
Two strings are given word and substr. Some of the characters in word are a question mark(?) Find the lexicographically smallest string that can be obtained by replacing '?' characters such that substr appears at least once . If it is not possible to do so, return "-1".

Note :
1. A substring is a continuous sequence of characters within a string . For example "bcd" is a substring of "abcde" but "

[2022-10-18 10:36] komalvhanmane opened #39 "Quetion 24"
Barbara is a speed typer. In order to check her typing speed, she performs a speed test. She is given a string I that she is supposed to type.

While Barbara is typing, she may make some mistakes, such as pressing the wrong key. As her typing speed is important to her, she does not want to spend additional time correcting the mistakes, so she continues to type with the errors until she finishes th

[2022-10-18 10:37] komalvhanmane opened #40 "Question 26"
Ada gives John a positive integer N. She challenges him to construct a new number (without leading zeros), that is a multiple of 9, by inserting exactly one digit (0 … 9) anywhere in the given number N. It is guaranteed that N does not have any leading zeros.

As John prefers smaller numbers, he wants to construct the smallest such number possible. Can you help John?

Input
The first line of the i

[2022-10-18 10:42] komalvhanmane opened #41 "Question 25"
You are given a string S consisting of characters 0, 1, and ?. You can replace each ? with either 0 or 1. Your task is to find if it is possible to assign each ? to either 0 or 1 such that the resulting string has no substrings that are palindromes of length 5 or more.

Input
The first line of the input gives the number of test cases, T. T test cases follow.

Each test case consists of two lines.

[2022-10-18 10:59] cereal-hecker commented on #41
hey, pls assign me this task

[2022-10-18 11:06] cereal-hecker commented on #39
hey, pls assign this task to me

[2022-10-18 11:13] mallikpramod commented on #29
@komalvhanmane Done, please check.

[2022-10-18 11:21] shreya2208 commented on #39
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-18 11:21] shreya2208 commented on #38
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-18 11:22] shreya2208 commented on #37
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-18 11:25] komalvhanmane commented on #41
@cereal-hecker Please mention your name ,college ,year , branch.

[2022-10-18 11:26] komalvhanmane commented on #39
@shreya2208 Please update your previous pull request . Once it is merged then only I can assign you the other issue.

[2022-10-18 11:28] ankitkumar0622 commented on #41
Hi , can you assign me this task.

[2022-10-18 11:31] komalvhanmane commented on #41
@ankitkumar0622 Please mention your name, college ,year ,branch .

[2022-10-18 11:33] cereal-hecker commented on #41
Hey,
This is Riya Batla from SRM University, Kattankulathur. I'm a 2nd year from CSE branch.

[2022-10-18 11:44] gaurijoshi22 commented on #3
I was assigned this issue and I have created pull request for the same. Please check.

[2022-10-18 11:56] sayli2003 commented on #28
Should the code return true if a character appears only once

and

if it appears more that twice should it consider the first two occurrences?

[2022-10-18 12:06] gaurijoshi22 commented on #7
I have created pull request. Please check.

[2022-10-18 12:10] shreya2208 commented on #39
updated previous pull request, please check

[2022-10-18 12:14] shreya2208 commented on #27
@komalvhanmane, created new PR for this solution pls check

[2022-10-18 12:24] #27 closed

[2022-10-18 13:15] shreya2208 commented on #31
@komalvhanmane  created a PR pls check :)

[2022-10-18 13:33] Kriti-2308 commented on #38
kritika dubey
cummins college of engineering
dept-IT 2nd year
i would like to work on this issue

[2022-10-18 15:04] kasturimandlik commented on #39
Kasturi Mandlik
Cummins College of Engineering for Women, Pune
Dept: Electronics and Telecommunication
I would like to work on this issue

[2022-10-18 15:05] NikitaMiraje commented on #38
Nikita Miraje
Cummins college of Engineering for Women, pune
Dept -Electronics and telecommunication
I would like to work on this issue.

[2022-10-18 15:09] kasturimandlik commented on #22
Kasturi Mandlik
Cummins College Of Engineering For Women, Pune
Dept- Electronics and Telecommunication, 2nd year
I would like to work on this issue. Can you please assign me this issue?

[2022-10-18 15:14] kasturimandlik commented on #20
Kasturi Mandlik
Cummins College of Engineering for Women,Pune
Dept: Electronics and Telecommunication, 2nd year
I would like to work on this issue, Can you please assign me?

[2022-10-18 15:14] NikitaMiraje commented on #3
Nikita Rajendra Miraje
Cummins College of engineering for women,pune
dept - Electronics And Telecommunication
I would like to work on this issue, can you plz assign this to me?

[2022-10-18 15:17] kasturimandlik commented on #6
Kasturi Mandlik
Cummins College Of Engineering For Women, Pune
Dept: Electronics and Telecommunication,2nd year
I would like to work on this issue, can you please assign me?

[2022-10-18 15:18] NikitaMiraje commented on #40
Nikita Rajendra Miraje
Cummins College of enginnering for women,pune
dept - Electronics And Telecommunication, 2nd year
I would like to work on this issue,can u plz assign this issue to me?

[2022-10-18 15:19] kasturimandlik commented on #36
Kasturi Mandlik
Cummins College of Engineering for Women, Pune
Dept: Electronics and Telecommunication
I would like to work on this issue

[2022-10-18 15:19] NikitaMiraje commented on #41
Nikita Rajendra Miraje
Cummins College of enginnering for women,pune
dept - Electronics And Telecommunication, 2nd year
I would like to work on this issue,can u plz assign this issue to me?

[2022-10-18 15:20] kasturimandlik commented on #32
Kasturi Mandlik
Cummins College of Engineering for Women, Pune
Dept: Electronics and Telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-18 15:20] NikitaMiraje commented on #37
Nikita Rajendra Miraje
Cummins College of enginnering for women,pune
dept - Electronics And Telecommunication, 2nd year
I would like to work on this issue,can u plz assign this issue to me?

[2022-10-18 15:21] NikitaMiraje commented on #31
Nikita Rajendra Miraje
Cummins College of enginnering for women,pune
dept - Electronics And Telecommunication, 2nd year
I would like to work on this issue,can u plz assign this issue to me?

[2022-10-18 15:22] NikitaMiraje commented on #24
Nikita Rajendra Miraje
Cummins College of enginnering for women,pune
dept - Electronics And Telecommunication, 2nd year
I would like to work on this issue,can u plz assign this issue to me?

[2022-10-18 15:22] NikitaMiraje commented on #1
Nikita Rajendra Miraje
Cummins College of enginnering for women,pune
dept - Electronics And Telecommunication, 2nd year
I would like to work on this issue, can u plz assign this issue to me?

[2022-10-18 15:22] kasturimandlik commented on #2
Kasturi Mandlik
Cummins College of Engineering for Women, Pune
Dept: Electronics and Telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-18 15:23] NikitaMiraje commented on #28
Nikita Rajendra Miraje
Cummins College of enginnering for women,pune
dept - Electronics And Telecommunication, 2nd year
I would like to work on this issue, can u plz assign this issue to me?

[2022-10-18 15:49] ManasiGDeshmukh commented on #5
Manasi Deshmukh
CCOEW
SY COMP
can you assign this issue to me?

[2022-10-18 15:49] ManasiGDeshmukh commented on #3
Manasi Deshmukh
CCOEW
SY COMP
can you assign this issue to me?

[2022-10-18 15:49] ManasiGDeshmukh commented on #6
Manasi Deshmukh
CCOEW
SY COMP
can you assign this issue to me?

[2022-10-18 15:50] ManasiGDeshmukh commented on #7
Manasi Deshmukh
CCOEW
SY COMP
can you assign this issue to me?

[2022-10-18 15:51] ManasiGDeshmukh commented on #36
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 15:51] ManasiGDeshmukh commented on #33
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 15:52] ManasiGDeshmukh commented on #32
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 15:52] ManasiGDeshmukh commented on #22
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 15:53] ManasiGDeshmukh commented on #37
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 15:53] ManasiGDeshmukh commented on #38
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 16:03] ManasiGDeshmukh commented on #31
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 16:04] ManasiGDeshmukh commented on #21
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 16:04] ManasiGDeshmukh commented on #20
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-18 16:08] komalvhanmane commented on #32
@ManasiGDeshmukh I have assigned you this issue . Work on it :)

[2022-10-18 16:10] komalvhanmane commented on #37
@NikitaMiraje I have assigned you this issue . Work on it :)

[2022-10-18 16:11] komalvhanmane commented on #38
@Kriti-2308 I have assigned you this issue . Work on it :)

[2022-10-18 16:13] komalvhanmane commented on #31
@NikitaMiraje @ManasiGDeshmukh Guys this issue was already assigned to someone else before only so try to avoid comments on already assigned Issues . :)
Hope you understood.

[2022-10-18 16:17] #31 closed

[2022-10-18 16:21] komalvhanmane commented on #37
@shreya2208 maximum limit is 2, we can assign only 2 issue's per student :) try finding some other repos :) Happy Coding.

[2022-10-18 16:47] komalvhanmane opened #49 "Question 27"
A housing society has m x n blocks as shown in the image below. Each bloack has a tower with at least one flat. Please find a path from northwest to southwest (top left to bottom right in the given image ) that has the least no. of flats.

Please note that you can only move either down or right at any point in time.

Input:
blocks =[[1,2,1],[1,4,1],[2,3,1]];

Output :
6(Path will be 1-2-1-1-1)
(No

[2022-10-18 16:49] DivyeshAgarwaliitg21 commented on #49
please assign this to me

[2022-10-18 16:51] KanikaRaheja commented on #36
Name: Kanika Raheja
College: Indira Gandhi Delhi Technical University for Women
Dept : Information Technology(IT)
Please assign this issue to me.

[2022-10-18 16:52] komalvhanmane opened #50 "Question 28"
You are given a 1D integer array lottery of lottery tickets with the value of each ticket representing the amount of money that you can win if you pick the ticket. You can pick only k tickets and every ticket that you pick can be only from the beginning or end of the array(array size will be decreased as you select from either left one or right one)

Print the maximum money that you can win.

Inpu

[2022-10-18 16:54] DivyeshAgarwaliitg21 commented on #50
Please assign me this. I wish to work on it

[2022-10-18 16:54] komalvhanmane commented on #36
@KanikaRaheja I have assigned you this issue . Work on it :)

[2022-10-18 16:55] komalvhanmane commented on #49
@DivyeshAgarwaliitg21 Mention your college , name , branch , year

[2022-10-18 16:57] DivyeshAgarwaliitg21 commented on #49
IIT Guwahati , Divyesh Agarwal , Chemical Engineering , 2nd year

[2022-10-18 16:58] komalvhanmane commented on #49
@DivyeshAgarwaliitg21 I have assigned you this issue . Work on it :)

[2022-10-18 17:03] komalvhanmane opened #51 "Question 29"
You are given a 2D integer array intervals where intervals[i] = [lefti, righti] represents the inclusive interval [lefti, righti].

You have to divide the intervals into one or more groups such that each interval is in exactly one group, and no two intervals that are in the same group intersect each other.

Return the minimum number of groups you need to make.

Two intervals intersect if there is

[2022-10-18 17:04] komalvhanmane opened #52 "Question 30"
You are given an integer array nums and an integer k.

Find the longest subsequence of nums that meets the following requirements:

The subsequence is strictly increasing and
The difference between adjacent elements in the subsequence is at most k.
Return the length of the longest subsequence that meets the requirements.

A subsequence is an array that can be derived from another array by deleting

[2022-10-18 17:07] komalvhanmane opened #53 "Question 31"
Let us call an integer interesting if the product of its digits is [divisible](https://en.wikipedia.org/wiki/Divisor#Definition) by the sum of its digits. You are given two integers A and B. Find the number of interesting integers between A and B (both inclusive).

Input
The first line of the input gives the number of test cases, T. T lines follow.

Each line represents a test case and contains tw

[2022-10-18 17:13] sayli2003 commented on #53
Sayli Borole
CCOEW
Comp Sy
I would like to work on this issue

[2022-10-18 17:19] itsmanojthapa commented on #52
Hey, can you assign this issue to me?

[2022-10-18 17:23] #36 closed

[2022-10-18 17:48] niteshjeganathan commented on #52
Hi, I would like to take this up. Please do assign this to me. @komalvhanmane

[2022-10-18 17:50] niteshjeganathan commented on #51
Hi, I would like to take this up. Please assign this to me. @komalvhanmane

[2022-10-18 18:25] komalvhanmane commented on #53
@niteshjeganathan Please mention your college , name , year , branch.

[2022-10-18 18:28] komalvhanmane commented on #53
@sayli2003 Please create your pr for previously assigned issue :) . Once it is merged then only I will be able to assign you another issue.

[2022-10-18 18:29] komalvhanmane commented on #51
@niteshjeganathan Please mention your college , name , year , branch .

[2022-10-18 18:29] niteshjeganathan commented on #53
Vellore Institute of Technology, Vellore. Nitesh Jeganathan. 2nd year. CSE CORE

[2022-10-18 18:31] komalvhanmane commented on #53
@niteshjeganathan I have assigned you this issue . Work on it :)

[2022-10-18 19:58] srdhal commented on #50
@komalvhanmane I am Soumya Ranjan Dhal from IIIT Bhubaneswar, CSE branch, 3rd year
I would like to work on question. Please assign it to me.

[2022-10-19 01:52] sayli2003 commented on #28
I've made a PR Please check it

[2022-10-19 02:52] komalvhanmane commented on #28
@sayli2003 I am not able to see your PR . check again did you created at correct place. if any help needed while creating PR tag me.

[2022-10-19 02:54] komalvhanmane opened #55 "Question 32"
Alice and Bob are traveling to Rome for separate business meetings.

You are given 4 strings arriveAlice, leaveAlice, arriveBob, and leaveBob. Alice will be in the city from the dates arriveAlice to leaveAlice (inclusive), while Bob will be in the city from the dates arriveBob to leaveBob (inclusive). Each will be a 5-character string in the format "MM-DD", corresponding to the month and day of th

[2022-10-19 02:55] komalvhanmane opened #56 "Question 33"
You are given a 0-indexed integer array players, where players[i] represents the ability of the ith player. You are also given a 0-indexed integer array trainers, where trainers[j] represents the training capacity of the jth trainer.

The ith player can match with the jth trainer if the player's ability is less than or equal to the trainer's training capacity. Additionally, the ith player can be m

[2022-10-19 02:56] komalvhanmane opened #57 "Question 34"
You are given a 0-indexed array nums of length n, consisting of non-negative integers. For each index i from 0 to n - 1, you must determine the size of the minimum sized non-empty subarray of nums starting at i (inclusive) that has the maximum possible bitwise OR.

In other words, let Bij be the bitwise OR of the subarray nums[i...j]. You need to find the smallest subarray starting at i, such that

[2022-10-19 02:57] komalvhanmane opened #58 "Question 35"
You are given a 0-indexed 2D integer array transactions, where transactions[i] = [costi, cashbacki].

The array describes transactions, where each transaction must be completed exactly once in some order. At any given moment, you have a certain amount of money. In order to complete transaction i, money >= costi must hold true. After performing a transaction, money becomes money - costi + cashbacki

[2022-10-19 02:59] komalvhanmane opened #59 "Question 36"
Charles defines the goodness score of a string as the number of indices i such that Si≠SN−i+1 where 1≤i≤N/2 (1-indexed). For example, the string CABABC has a goodness score of 2 since S2≠S5 and S3≠S4.

Charles gave Ada a string S of length N, consisting of uppercase letters and asked her to convert it into a string with a goodness score of K. In one operation, Ada can change any character in the s

[2022-10-19 03:04] komalvhanmane opened #60 "Question 37"
Given a grid of R rows and C columns each cell in the grid is either 0 or 1.

A segment is a nonempty sequence of consecutive cells such that all cells are in the same row or the same column. We define the length of a segment as number of cells in the sequence.

A segment is called "good" if all the cells in the segment contain only 1s.

An "L-shape" is defined as an unordered pair of segments, wh

[2022-10-19 03:06] komalvhanmane opened #61 "Question 38"
Barbara got really good grades in school last year, so her parents decided to gift her with a pet rabbit. She was so excited that she built a house for the rabbit, which can be seen as a 2D grid with R rows and C columns.

Rabbits love to jump, so Barbara stacked several boxes on several cells of the grid. Each box is a cube with equal dimensions, which match exactly the dimensions of a cell of th

[2022-10-19 03:15] komalvhanmane opened #62 "Question 39"
Given a positive integer n, return the smallest positive integer that is a multiple of both 2 and n.

Example 1:

Input: n = 5
Output: 10
Explanation: The smallest multiple of both 5 and 2 is 10.
Example 2:

Input: n = 6
Output: 6
Explanation: The smallest multiple of both 6 and 2 is 6. Note that a number is a multiple of itself.

[2022-10-19 03:17] komalvhanmane opened #63 "Question 40"
An alphabetical continuous string is a string consisting of consecutive letters in the alphabet. In other words, it is any substring of the string "abcdefghijklmnopqrstuvwxyz".

For example, "abc" is an alphabetical continuous string, while "acb" and "za" are not.
Given a string s consisting of lowercase letters only, return the length of the longest alphabetical continuous substring.

Example 1:

[2022-10-19 03:19] gaurijoshi22 commented on #62
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology SY
I would like to work on this issue
Can you please assign me this issue?

[2022-10-19 03:19] kasturimandlik commented on #62
Kasturi Mandlik
Cummins college of engineering for women,pune
Dept: electronics and telecommunication
I would like to work on this issue. Can you please assign me?

[2022-10-19 03:19] NikitaMiraje commented on #63
Nikita Rajendra Miraje
Cummins college of engineering for women,Pune
Dept-Electronics and Telecommunication,2nd year
Can you plz assign this issue to me,I would like to work on this issue.

[2022-10-19 03:20] NikitaMiraje commented on #61
Nikita Rajendra Miraje
Cummins college of engineering for women,Pune
Dept-Electronics and Telecommunication,2nd year
Can you plz assign this issue to me,I would like to work on this issue.

[2022-10-19 03:20] kasturimandlik commented on #55
Kasturi Mandlik
Cummins college of engineering for women,pune
Dept: electronics and telecommunication
I would like to work on this issue. Can you please assign me?

[2022-10-19 03:20] NikitaMiraje commented on #56
Nikita Rajendra Miraje
Cummins college of engineering for women,Pune
Dept-Electronics and Telecommunication,2nd year
Can you plz assign this issue to me,I would like to work on this issue.

[2022-10-19 03:20] kasturimandlik commented on #50
Kasturi Mandlik
Cummins college of engineering for women,pune
Dept: electronics and telecommunication
I would like to work on this issue. Can you please assign me?

[2022-10-19 03:20] OjaswiPande commented on #55
Ojaswi Pande
SY Comp
Ccoew
Can you assign me this issue?

[2022-10-19 03:22] gaurijoshi22 commented on #56
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology SY
I would like to work on this issue
Can you please assign me this issue?

[2022-10-19 03:23] NikitaMiraje commented on #59
Nikita Rajendra Miraje
Cummins college of engineering for women,Pune
Dept-Electronics and Telecommunication,2nd year
Can you plz assign this issue to me,I would like to work on this issue.

[2022-10-19 03:23] kasturimandlik commented on #58
Kasturi Mandlik
Cummins college of engineering for women,pune
Dept: electronics and telecommunication
I would like to work on this issue. Can you please assign me?

[2022-10-19 03:23] NikitaMiraje commented on #57
Nikita Rajendra Miraje
Cummins college of engineering for women,Pune
Dept-Electronics and Telecommunication,2nd year
Can you plz assign this issue to me,I would like to work on this issue.

[2022-10-19 03:24] NikitaMiraje commented on #52
Nikita Rajendra Miraje
Cummins college of engineering for women,Pune
Dept-Electronics and Telecommunication,2nd year
Can you plz assign this issue to me,I would like to work on this issue.

[2022-10-19 03:24] OjaswiPande commented on #56
Ojaswi Pande
CCOEW
Comp SY
Can you assign me this issue?

[2022-10-19 03:24] kasturimandlik commented on #51
Kasturi Mandlik
Cummins college of engineering for women,pune
Dept: electronics and telecommunication
I would like to work on this issue. Can you please assign me?

[2022-10-19 03:25] OjaswiPande commented on #63
Ojaswi Pande
CCOEW
COMP SY
please assign me this issue

[2022-10-19 03:25] OjaswiPande commented on #62
Ojaswi Pande
CCOEW SY COMP
I would like to work on this issue

[2022-10-19 03:27] komalvhanmane commented on #56
@NikitaMiraje Please submit your previously assigned  issue's PR. then only i can assign you the other issue :)
I hope you understood.

[2022-10-19 03:28] OjaswiPande commented on #60
OJASWI PANDE
CCOEW
SY COMP
I would like to work on this issue

[2022-10-19 03:28] komalvhanmane commented on #56
@gaurijoshi22 It looks like you are still working on 2 issues which are previously assigned by our team members.

[2022-10-19 03:41] sejal-phatangare commented on #62
Sejal Phatangare
CCOEW SY COMP
Please assign me this issue.

[2022-10-19 03:42] komalvhanmane commented on #62
@sejal-phatangare I have assigned you this issue . Work on it :)

[2022-10-19 03:44] komalvhanmane opened #64 "Question 41"
Given the root of a perfect binary tree, reverse the node values at each odd level of the tree.

For example, suppose the node values at level 3 are [2,1,3,4,7,11,29,18], then it should become [18,29,11,7,4,3,1,2].
Return the root of the reversed tree.

A binary tree is perfect if all parent nodes have two children and all leaves are on the same level.

The level of a node is the number of edges a

[2022-10-19 03:58] itsmanojthapa commented on #52
Manoj Thapa, IGNOU, BCA, 2nd Year

[2022-10-19 04:10] niteshjeganathan commented on #53
Hey, I addressed this Question at PR #65 . Please do accept it @komalvhanmane

[2022-10-19 04:24] niteshjeganathan commented on #64
Hi, I would like to take this up. I can code this in C++, C or any other language you would like. Please do assign this to me. Myself Nitesh Jeganathan from Vellore Institute of Technology, Vellore. 2nd Year. Btech CSE Core. @komalvhanmane

[2022-10-19 06:03] gaurijoshi22 commented on #64
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology SY
I would like to work on this issue
Can you please assign me this issue?

[2022-10-19 06:03] gaurijoshi22 commented on #63
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- Information Technology SY
I would like to work on this issue
Can you please assign me this issue?

[2022-10-19 06:44] JanhaviGadre commented on #63
Name: Janhavi Gadre
College: Cummins College of Engineering for women
Department: Computer
“I would like to work on this issue”
Can you please assign me this issue?

[2022-10-19 06:51] sayli2003 commented on #28
@komalvhanmane I remade the request please  check :)

[2022-10-19 07:37] komalvhanmane commented on #52
@itsmanojthapa I have assigned you this issue . Work on it.

[2022-10-19 09:41] GayatriChaudhari1281 commented on #1
@JMukta25 In the question it is written that k value is given but k value is not there in input so k value is there or not?

[2022-10-19 10:07] GayatriChaudhari1281 commented on #57
Name-Gayatri Chaudhari
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue

[2022-10-19 10:08] GayatriChaudhari1281 commented on #58
Name-Gayatri Chaudhari
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue

[2022-10-19 10:11] GayatriChaudhari1281 commented on #61
Name-Gayatri Chaudhari
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue

[2022-10-19 12:08] rajnandinikokadwar commented on #55
Rajnandini kokadwar
Cummins college of engineering,pune
Computer Science
Can you assign me this issue?

[2022-10-19 13:32] gaurijoshi22 commented on #56
I have completed them!

[2022-10-19 13:50] OjaswiPande commented on #56
I completed this issue.Can you check it once?

[2022-10-19 13:51] OjaswiPande commented on #64
OJASWI PANDE
COMP SY
CCOEW Can you assign this issue to me?

[2022-10-19 13:53] OjaswiPande commented on #60
Can you assign this issue to me , please?

[2022-10-19 13:58] OjaswiPande commented on #59
OJASWI PANDE
SY COMP
CCOEW
Can you assign me this issue?

[2022-10-19 16:57] #53 closed

[2022-10-19 16:58] #62 closed

[2022-10-19 17:00] #28 closed

[2022-10-19 17:01] #52 closed

[2022-10-19 17:05] komalvhanmane commented on #56
@gaurijoshi22 as you have completed 2 issues then you can find other repository Because we are assigning max 2 per student. :) All the best 👍 .

[2022-10-19 17:06] #33 closed

[2022-10-19 17:33] JoydeepMallick opened #73 "Organizing the solutions and adding their questions"
I would like to name all the files with similar naming convention in the format "QuestionN" where N=1,2,3,........  and would like to add the questions of each questions by commenting them out at top of the solutions for conveinience of everyone and increase overall readability.

[2022-10-19 17:43] JoydeepMallick commented on #73
Joydeep Mallick
Dr. BC Roy Engineering College
2nd year, CSE

I would like to work on this issue.

[2022-10-19 17:58] JanhaviGadre commented on #40
Name: Janhavi Gadre
College: Cummins College of Engineering for women
Department: Computer
“I would like to work on this issue”

[2022-10-20 06:11] utkarshaskumbhar commented on #63
Name :utkarsha kumbhar
College: Cummins college of engineering for women
Department: computer
"I would like to work on this issue as it will be my first issue , please can you assign me?"

[2022-10-20 06:22] utkarshaskumbhar commented on #50
Name :utkarsha kumbhar
College: Cummins college of engineering for women
Department: computer engineering
"I would like to work on this issue  , please can you assign me?"

[2022-10-20 06:34] utkarshaskumbhar commented on #60
Name :utkarsha kumbhar
College: Cummins college of engineering for women
Department: computer engineering
"I would like to work on this issue , please can you assign me?"

[2022-10-20 07:22] kasturimandlik commented on #64
Kasturi Mandlik
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-20 07:24] kasturimandlik commented on #55
@komalvhanmane  can you please assign me this issue?

[2022-10-20 07:26] kasturimandlik commented on #22
@komalvhanmane i have completed.... please do check it

[2022-10-20 07:28] kasturimandlik commented on #63
Kasturi Mandlik
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-20 08:46] #41 closed

[2022-10-20 08:49] #22 closed

[2022-10-20 08:51] komalvhanmane commented on #64
@kasturimandlik I have assigned you this issue . Work on it :)

[2022-10-20 08:54] komalvhanmane commented on #50
@DivyeshAgarwaliitg21 I have assigned you this issue . work on it :)

[2022-10-20 08:55] komalvhanmane commented on #55
@OjaswiPande I have assigned you this issue. work on it :)

[2022-10-20 08:58] komalvhanmane commented on #60
@utkarshaskumbhar I have assigned you this issue . work on it :)

[2022-10-20 09:00] komalvhanmane commented on #61
@GayatriChaudhari1281 I think you have completed 2 PR's So try finding another repo's . we are assigning max 2 issue's per student. :) All the best 👍

[2022-10-20 09:45] OjaswiPande commented on #55
@komalvhanmane  #55 I solved this question. (c++ and python by both methods). Please check it once.
Thank You.

[2022-10-20 09:51] NikitaMiraje commented on #37
@komalvhanmane I have completed.....plz can you check it.

[2022-10-20 09:55] JanhaviGadre commented on #40
I have created a PR

[2022-10-20 10:20] drashan14 commented on #39
Hello please assign me this task i would like to do this task.

[2022-10-20 10:46] #20 closed

[2022-10-20 10:46] #24 closed

[2022-10-20 10:48] Mahi1901 opened #79 "Question 42"
You are given a positive integer X. Your task is to tell whether there exist two positive integers a and b (a>0,b>0) such that
2⋅a+2⋅b+a⋅b=X
If there exist positive integers a and b satisfying the above condition print YES, else print NO.

Constraints
1≤T≤100
1≤X≤10^9

Sample 1:
Input
4
2
5
6
12
Output
NO
YES
NO
YES
Explanation:
Test case 1: There do not exist any positive integers a and b such th

[2022-10-20 10:49] Mahi1901 opened #80 "Question 43"
Vikram and Anay are at positions X and Y on a number line.They both love badminton.It is known that badminton courts are located at every integer point.They want to find a court such that the maximum distance traveled by either of them is minimized.Formally, suppose they choose the badminton court at position Z. You need to find the minimum value of max(∣X−Z∣,∣Y−Z∣) across all possible choices of

[2022-10-20 10:49] Mahi1901 opened #81 "Question 44"
There are 3 hidden numbers A, B, C.

You somehow found out the values of min(A,B), min(B,C) and min(C,A).

Determine whether there exists any tuple (A,B,C) that satisfies the given values of min(A,B),min(B,C),min(C,A).

Constraints
1≤T≤1000
1≤min(A,B),min(B,C),min(C,A)≤10
Sample 1:
Input
3
5 5 5
2 3 4
2 2 4
Output
YES
NO
YES
Explanation:
Test case 1: One valid tuple (A, B, C) is (5,5,5).

Test cas

[2022-10-20 10:50] Mahi1901 opened #82 "Question 45"
Alisha likes all the numbers which are divisible by A. Sushmita does not like the numbers which are divisible by B and likes all the remaining numbers. Determine the smallest number greater than or equal to N which is liked by both. Output  −1 if no such number exists.

Constraints
1≤T≤1000
1≤A,B,N≤10^9

Sample 1:
Input
3
5 2 11
4 3 24
7 7 100
Output
15
28
-1
Explanation:
Test case 1: 15 is the sm

[2022-10-20 10:51] Mahi1901 opened #83 "Question 46"
Given integers N and X, generate a palindrome of length N consisting of lowercase English alphabets such that the number of distinct characters in the palindrome is exactly X.
If it is impossible to do so, print -1 instead.

Constraints
1≤T≤10^4
1≤N≤10^5
1≤X≤min(N,26)
Sum of N over all test cases does not exceed 3⋅10^5.

Sample 1:
Input
4
1 1
2 1
3 3
4 2
Output
z
aa
-1
xyyx

Explanation:
Test case

[2022-10-20 10:52] Mahi1901 opened #84 "Question 47"
A bracket sequence S is called dense if one of the following is true:
S is empty.
S = (X) where X is dense.
You are given a bracket sequence S. What is the minimum number of brackets you must remove to make it dense?

Constraints
1≤T≤2⋅10^4
1≤N≤3⋅10^5
The sum of N over all test cases does not exceed 3⋅10^5.

Sample 1:
Input
4
8
()(())()
6
((()))
10
()()()()()
8
((()))()
Output
2
0
4
2

Explanation

[2022-10-20 10:52] anandb235 commented on #79
Hi! I'd like to work on this, please assign it to me.

[2022-10-20 10:53] Mahi1901 opened #85 "Question 48"
You are given an array A consisting of 2⋅N integers. You can perform the following operation any number of times. Choose any i (1≤i≤2⋅N) such that Ai is even and divide Ai by 2.
Or choose any i (1≤i≤2⋅N) and multiply Ai by 2.
Find the minimum number of operations required to make the number of even elements and number of odd elements in the array equal.

Constraints
1≤T≤1000
1≤N≤100
1≤X, Y≤10^5
1≤

[2022-10-20 10:54] Mahi1901 commented on #79
Mention college name, branch and year.
@anandb235

[2022-10-20 11:01] GayatriChaudhari1281 commented on #61
Ok. No problem. Thank you

[2022-10-20 11:03] anandb235 commented on #79
Anand Borkar
SIES Graduate School of Technology, Navi Numbai
Department of Computer Science, 4th year

[2022-10-20 11:04] Mahi1901 commented on #79
I have assigned. Happy coding!

[2022-10-20 11:23] adjascently commented on #84
Heyy Please assign this to me

[2022-10-20 11:25] adjascently commented on #83
Please assign this to me

[2022-10-20 11:30] itsmanojthapa commented on #82
Hey, can you assign this issue to me

[2022-10-20 11:32] Mahi1901 commented on #82
Mention your college name, branch and year.
@itsmanojthapa

[2022-10-20 11:33] Mahi1901 commented on #84
Mention college name, branch and year.
@adjascently

[2022-10-20 11:33] itsmanojthapa commented on #82
Manoj Thapa, IGNOU, BCA, 2nd year

[2022-10-20 11:34] Mahi1901 commented on #82
I've assigned. Happy coding!

[2022-10-20 11:46] adjascently commented on #84
Manipal University Jaipur
B.Tech Computer and Communication
3rd year

[2022-10-20 11:47] adjascently commented on #83
Manipal University Jaipur
B.Tech Computer and Communication
3rd year

[2022-10-20 11:58] Git-Akshat01 commented on #79
Hey! Can I perform this work, Please?

[2022-10-20 12:14] Ris-code commented on #85
Hey,can you assign me this

[2022-10-20 12:15] Ris-code commented on #84
Hey,can you assign me this
IIT Jodhpur
B.Tech Artificial Intelligence and Data Science
2nd Year

[2022-10-20 12:15] Ris-code commented on #81
Hey,can you assign me this

[2022-10-20 12:16] Ris-code commented on #80
Hey,can you assign me this

[2022-10-20 12:31] komalvhanmane commented on #55
@OjaswiPande Only one PR will be merged.

[2022-10-20 12:31] #55 closed

[2022-10-20 12:32] #37 closed

[2022-10-20 12:33] #40 closed

[2022-10-20 12:35] komalvhanmane commented on #21
@SrigiriSruthi Are you going to make PR ? According to our Rules more than 2 days will not be given.

[2022-10-20 12:38] rajnandinikokadwar commented on #84
Hey,can you assign me this
Rajnandini kokadwar
Cummins college
2nd year

[2022-10-20 12:40] komalvhanmane commented on #63
@JanhaviGadre I have assigned you this issue . work on it :)

[2022-10-20 12:41] drashan14 commented on #39
Darshan Rathod
PCCOER
TY Comp Department

[2022-10-20 12:42] komalvhanmane commented on #39
@drashan14 I have assigned you this issue . work on it :)

[2022-10-20 12:45] komalvhanmane commented on #61
@NikitaMiraje I have assigned you this issue . work on it :)

[2022-10-20 12:51] komalvhanmane commented on #51
@niteshjeganathan I have assigned you this issue . work on it :)

[2022-10-20 13:06] NikitaMiraje commented on #85
Nikita Rajendra Miraje
Cummins College Of Engineering For Women, Pune
dept- Electronics And Telecommunication
can you plz assign this issue to me??

[2022-10-20 13:08] NikitaMiraje commented on #83
Nikita Rajendra Miraje
Cummins College Of Engineering For Women, Pune
dept- Electronics And Telecommunication
can you plz assign this issue to me??

[2022-10-20 13:09] NikitaMiraje commented on #80
Nikita Rajendra Miraje
Cummins College Of Engineering For Women, Pune
dept- Electronics And Telecommunication
can you plz assign this issue to me??

[2022-10-20 13:09] NikitaMiraje commented on #81
Nikita Rajendra Miraje
Cummins College Of Engineering For Women, Pune
dept- Electronics And Telecommunication
can you plz assign this issue to me??

[2022-10-20 13:21] Ris-code commented on #85
IIT Jodhpur
B.Tech Artificial Intelligence and Data Science
2nd Year

[2022-10-20 13:22] Ris-code commented on #80
IIT Jodhpur
B.Tech Artificial Intelligence and Data Science
2nd Year

[2022-10-20 13:22] Git-Akshat01 commented on #83
hi! @Mahi1901 Can you please assign this task to me?
I am Akshat Tiwari
Bhilai Institute Of Technology, Raipur
Dept- Computer Science And Engineering
4th Year

[2022-10-20 13:22] Ris-code commented on #81
IIT Jodhpur
B.Tech Artificial Intelligence and Data Science
2nd Year

[2022-10-20 13:46] Mahi1901 commented on #80
I have assigned. Happy coding!

[2022-10-20 13:48] Mahi1901 commented on #81
I have assigned. Happy coding!

[2022-10-20 13:49] Mahi1901 commented on #83
I have assigned. Happy coding!

[2022-10-20 13:49] Mahi1901 commented on #84
I have assigned. Happy coding!

[2022-10-20 13:52] Mahi1901 commented on #85
I have assigned. Happy coding!

[2022-10-20 13:57] Git-Akshat01 commented on #79
No issue. Thanks for the reply.

On Thu, Oct 20, 2022 at 7:13 PM Mahi Shukla ***@***.***>
wrote:

[2022-10-20 14:03] Mahi1901 opened #89 "Question 49"
You are given NN binary strings of length NN each. You need to find a binary string of length NN which is different from all of the given strings.
Note:
A binary string is defined as a string consisting only of '0' and '1'.
A string is considered different from another string when they have different lengths, or when they differ in at least one position.

Input Format
The first line will contain T

[2022-10-20 14:17] rishabhknowss commented on #89
Please assign me this issue

[2022-10-20 14:19] OjaswiPande commented on #89
OJASWI PANDE
SY COMP
CCOEW
Can you please assign me this issue?

[2022-10-20 14:40] rishabhknowss commented on #89
please merge my pr #90

[2022-10-20 15:03] anujwar commented on #89
anujrw18
PCCOER
Can you please assign this issue to me ?

[2022-10-20 15:53] Mahi1901 commented on #89
I have assigned. Happy coding!

[2022-10-20 16:14] Mahi1901 opened #94 "Question 50"
There are N students in a class, where the i-th student has a score of Ai. The i-th student will boast if and only if the number of students scoring less than or equal Ai is greater than the number of students scoring greater than Ai. Find the number of students who will boast.

Input Format
The first line contains T-the number of test cases. Then the test cases follow.
The first line of each test

[2022-10-20 16:15] rohitsinghind commented on #94
hey can u assign this to me

[2022-10-20 16:16] siddhesh-desai commented on #94
Hi @Mahi1901 Please assign it to me. Thankyou

[2022-10-20 16:19] Mahi1901 opened #95 "Question 51"
Consider an infinite full binary tree (each node has two children except the leaf nodes) defined as follows. For a node labelled v its left child will be labelled 2*v and its right child will be labelled 2*v+1. The root is labelled as 1.

You are given N queries of the form i j. For each query, you have to print the length of the shortest path between node labelled i and node labelled j.

Input
Fi

[2022-10-20 16:21] PrathIam commented on #95
Hi @Mahi1901, Can I look into this

[2022-10-20 16:27] Mahi1901 opened #96 "Question 52"
You are given a set of N strings S0, S1, …, SN-1. These strings consist of only lower-case characters a..z and have the same length L.
A string H is said to be K-important if there are at least K strings in the given set of N strings appearing at K different positions in H. These K strings need not to be distinct.
Your task is to find the shortest K-important string. If there are more than one pos

[2022-10-20 16:30] Mahi1901 commented on #95
Mention your college name, branch and year.
@PrathIam

[2022-10-20 16:31] Mahi1901 commented on #94
Mention your college name, branch and year.
@rohitsinghind

[2022-10-20 16:36] Mahi1901 opened #98 "Question 53"
There are N+1 lights. Lights are placed at (0, 0), (1, 0), (2, 0) ... (N, 0). Initially all the lights are on. You want to turn off all of them one after one. You want to follow a special pattern in turning off the lights.

You will start at (0, 0). First, you walk to the right most light that is on, turn it off. Then you walk to the left most light that is on, turn it off. Then again to the right

[2022-10-20 16:37] Mahi1901 opened #99 "Question 54"
There's an array A consisting of N non-zero integers A1..N. A subarray of A is called alternating if any two adjacent elements in it have different signs (i.e. one of them should be negative and the other should be positive).

For each x from 1 to N, compute the length of the longest alternating subarray that starts at x - that is, a subarray Ax..y for the maximum possible y ≥ x. The length of suc

[2022-10-20 16:41] Mahi1901 opened #100 "Question 55"
Given an array of N numbers, a pair of numbers is called good if difference between the two numbers is strictly less than D.
Find out maximum possible sum of all good disjoint pairs that can be made from these numbers.
Sum of X pairs is the sum of all 2*X numbers in the pairs.

Input
First line contains T, the number of test cases to follow.
First line of each test case contains 2 space separated

[2022-10-20 17:07] dishantzaveri commented on #94
hey can u assign this to me

College name - DJ Sanghvi College of Engineering
Branch - Computer Science
Year-Third

[2022-10-20 17:07] dishantzaveri commented on #95
Hey can u assign this to me

College name - DJ Sanghvi College of Engineering
Branch - Computer Science
Year-Third

[2022-10-20 17:09] Mahi1901 commented on #95
I have assigned. Happy coding!

[2022-10-20 17:10] Mahi1901 commented on #94
I have assigned. Happy coding!

[2022-10-20 17:22] Mahi1901 opened #101 "Question 56"
You are given a string S of length N consisting only of 0s and 1s. You are also given an integer K.

You have to answer Q queries. In the ith query, two integers Li and Ri are given. Then you should print the number of substrings of S[L, R] which contain at most K 0s and at most K 1s where S[L, R] denotes the substring from Lth to Rth characters of the string S. In other words, you have to count n

[2022-10-20 17:25] Ashwin-510 commented on #100
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello Mahi ,
Can you please assign me this issue

[2022-10-20 17:27] Ashwin-510 commented on #101
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello Mahi1901 ,
Can you please assign me this issue ?

[2022-10-20 17:28] Ashwin-510 commented on #99
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello @Mahi1901  ,
Can you please assign me this issue ?

[2022-10-20 17:29] Ashwin-510 commented on #98
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello @Mahi1901 ,
Can you please assign me this issue ?

[2022-10-20 17:30] Ashwin-510 commented on #96
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello @Mahi1901  ,
Can you please assign me this issue ?

[2022-10-20 17:33] OjaswiPande commented on #101
OJASWI PANDE
SY COMP
CCOEW
CAN you assign me this issue?

[2022-10-20 18:11] Ashwin-5100 commented on #59
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello @Mahi1901,
Can you please assign me this issue ?

[2022-10-20 18:11] Ashwin-5100 commented on #57
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello @Mahi1901,
Can you please assign me this issue ?

[2022-10-20 19:55] ManasiGDeshmukh commented on #32
@komalvhanmane
So I'm facing some problem here.......
I had added a pull request and then thought I had to do some changes in code... so I clicked on close... but now I'm not able to create a new pull request...

I'm a first time user so maybe unknowing i have done something wrong...

please can you tell me how can I submit my solution?

[2022-10-21 03:10] ManasiGDeshmukh commented on #59
Name-**Manasi Deshmukh**
College-Cummins college of engineering ,Pune
**Department-Computer Department**
I would like to work on this issue
can you assign me this issue?

[2022-10-21 03:13] ManasiGDeshmukh commented on #99
Name-Manasi Deshmukh
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue
can you assign me this issue?

[2022-10-21 03:15] ManasiGDeshmukh commented on #98
Name-Manasi Deshmukh
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue
can you assign me this issue?

[2022-10-21 03:16] ManasiGDeshmukh commented on #101
Name-Manasi Deshmukh
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue
can you assign me this issue?

[2022-10-21 03:16] ManasiGDeshmukh commented on #100
Name-Manasi Deshmukh
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue
can you assign me this issue?

[2022-10-21 03:16] ManasiGDeshmukh commented on #57
Name-Manasi Deshmukh
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue
can you assign me this issue?

[2022-10-21 03:17] ManasiGDeshmukh commented on #7
Name-Manasi Deshmukh
College-Cummins college of engineering ,Pune
Department-Computer Department
I would like to work on this issue
can you assign me this issue?

[2022-10-21 04:01] NikitaMiraje commented on #85
@Mahi1901.....plz can you check the question once because i am not able to relate  question statement with given sample input and output

[2022-10-21 04:43] Mahi1901 commented on #85
Yeah, I did
@NikitaMiraje

[2022-10-21 04:44] Mahi1901 commented on #96
I have assigned. Happy coding!

[2022-10-21 04:45] Mahi1901 commented on #98
I have assigned. Happy coding!

[2022-10-21 04:45] Mahi1901 commented on #99
I have assigned. Happy coding!

[2022-10-21 04:46] Mahi1901 commented on #100
I have assigned. Happy coding!

[2022-10-21 05:01] #63 closed

[2022-10-21 05:05] komalvhanmane opened #106 "Question 57"
Given an integer array nums that does not contain any zeros, find the largest positive integer k such that -k also exists in the array.

Return the positive integer k. If there is no such integer, return -1.

Example 1:

Input: nums = [-1,2,-3,3]
Output: 3
Explanation: 3 is the only valid k we can find in the array.

[2022-10-21 05:06] komalvhanmane opened #107 "Question 58"
You are given an array nums consisting of positive integers.

You have to take each integer in the array, reverse its digits, and add it to the end of the array. You should apply this operation to the original integers in nums.

Return the number of distinct integers in the final array.

Example 1:

Input: nums = [1,13,10,12,31]
Output: 6
Explanation: After including the reverse of each number, th

[2022-10-21 05:07] komalvhanmane opened #108 "Question 59"
Given a non-negative integer num, return true if num can be expressed as the sum of any non-negative integer and its reverse, or false otherwise.

Example 1:

Input: num = 443
Output: true
Explanation: 172 + 271 = 443 so we return true.

[2022-10-21 05:08] komalvhanmane opened #109 "Question 60"
You are given an integer array nums and two integers minK and maxK.

A fixed-bound subarray of nums is a subarray that satisfies the following conditions:

The minimum value in the subarray is equal to minK.
The maximum value in the subarray is equal to maxK.
Return the number of fixed-bound subarrays.

A subarray is a contiguous part of an array.

Example 1:

Input: nums = [1,3,5,2,7,5], minK = 1

[2022-10-21 05:09] komalvhanmane opened #110 "Question 61"
You are given a string of length 5 called time, representing the current time on a digital clock in the format "hh:mm". The earliest possible time is "00:00" and the latest possible time is "23:59".

In the string time, the digits represented by the ? symbol are unknown, and must be replaced with a digit from 0 to 9.

Return an integer answer, the number of valid clock times that can be created by

[2022-10-21 05:10] komalvhanmane opened #111 "question 62"
Given a positive integer n, there exists a 0-indexed array called powers, composed of the minimum number of powers of 2 that sum to n. The array is sorted in non-decreasing order, and there is only one way to form the array.

You are also given a 0-indexed 2D integer array queries, where queries[i] = [lefti, righti]. Each queries[i] represents a query where you have to find the product of all powe

[2022-10-21 06:01] itsmanojthapa commented on #108
assign me this issue.

[2022-10-21 06:03] ankitkumar0622 commented on #108
Hi , can you please assign me this task.

[2022-10-21 06:59] utkarshaskumbhar commented on #108
Name :utkarsha kumbhar
College: Cummins college of engineering for women
Department: computer
"I would like to work on this issue as it will be my second issue I have completed my first issue, please can you assign me?"

[2022-10-21 07:00] itsmanojthapa commented on #108
Manoj Thapa, IGNOU, BCA, 2nd year

[2022-10-21 07:10] sejal-phatangare commented on #108
Sejal Phatangare
Cummins College of Engineering, Pune
Computer Department
Please assign me this issue

[2022-10-21 07:20] siddhesh-coder commented on #110
mam plz assign me this

[2022-10-21 07:22] siddhesh-coder commented on #109
mam assign me this problem

[2022-10-21 07:24] sejal-phatangare commented on #106
Sejal Phatangare
Cummins College of Engineering, Pune
Computer Department
Please assign me this issue

[2022-10-21 07:28] komalvhanmane commented on #106
@sejal-phatangare I have assigned you this issue work on it.

[2022-10-21 07:32] komalvhanmane commented on #108
@ankitkumar0622 mention college ,branch , year , name .

[2022-10-21 07:34] komalvhanmane commented on #108
@itsmanojthapa I think you have completed 2 issues . we only assign 2 issues per student . Try to find other repo's All the best :)

[2022-10-21 07:35] komalvhanmane commented on #109
@siddhesh-coder mention college , name , branch , year .

[2022-10-21 07:35] #60 closed

[2022-10-21 07:38] ankitkumar0622 commented on #108
SRM university , CSE with AI AND ML , 2nd Year , Ankit Kumar

[2022-10-21 07:51] NikitaMiraje commented on #85
I have completed this task.....plz can you check it.

[2022-10-21 07:54] siddhesh-coder commented on #109
college: Dr.D.Y.Patil Institute of Engineering & Technology Ambi
name: Siddhesh Bhosale
Branch: computer Engineering
year: BE Final Year

[2022-10-21 07:55] utkarshaskumbhar commented on #107
Name :utkarsha kumbhar
College: Cummins college of engineering for women
Department: computer
"I would like to work on this issue ,please can you assign me?"

[2022-10-21 08:22] vishwadere commented on #110
Name: Vishwa Dere
College: MKSSS's Cummins College Of Engineering For Women, Pune
Department: TY CS
I would like to work on this issue

[2022-10-21 08:23] ankitkumar0622 commented on #110
mam plz assign me this

[2022-10-21 08:53] #94 closed

[2022-10-21 08:54] Mahi1901 commented on #101
I have assigned. Happy coding!

[2022-10-21 08:58] #85 closed

[2022-10-21 09:05] #100 closed

[2022-10-21 09:25] komalvhanmane commented on #108
@ankitkumar0622 I have assigned you this issue . work on it :)

[2022-10-21 09:33] komalvhanmane commented on #109
@siddhesh-coder I have assigned you this issue . work on it :)

[2022-10-21 09:34] komalvhanmane commented on #107
@utkarshaskumbhar I have assigned you this issue . work on it :)

[2022-10-21 09:34] komalvhanmane commented on #110
@vishwadere I have assigned you this issue . work on it :)

[2022-10-21 09:39] komalvhanmane commented on #38
@Kriti-2308 Have you solved this question ?

[2022-10-21 09:47] Ashwin-5100 commented on #21
Ashwin Lavate
Pimpri Chinchwad College of Engineering and Research
Computer Science
Hello @komalvhanmane ,
Can you please assign me this issue ?

[2022-10-21 10:31] siddhesh-coder commented on #109
yes

[2022-10-21 11:56] sayli2003 commented on #111
SAYLI BOROLE
CCOEW
COMP-A1
I would like to work on this issue

[2022-10-21 12:08] ankitkumar0622 commented on #108
Hi ma'am ,  I have make pull request , can you please have a look.

[2022-10-21 12:18] anujwar commented on #21
Hey Can you assign this issue to me?
anujrw18

[2022-10-21 12:21] #101 closed

[2022-10-21 12:28] #96 closed

[2022-10-21 12:28] #98 closed

[2022-10-21 13:39] SwaroopaDubal commented on #108
Name:Swaroopa
Cummins college of Engineering
EnTC , SY
Please assign me this issue

[2022-10-21 13:42] SwaroopaDubal commented on #107
Name:Swaroopa
Cummins college of Engineering
ENTC,SY
"Please assign me this issue"

[2022-10-21 13:43] SwaroopaDubal commented on #106
Name:Swaroopa
Cummins college of Engineering
ENTC
"Please assign me this issue"

[2022-10-21 13:53] SwaroopaDubal commented on #50
Name:Swaroopa
Cummins college of Engineering
ENTC
I would like to work on this issue. Can you please assign me?

[2022-10-21 13:55] komalvhanmane commented on #21
@anujwar mention college , name , branch , year.

[2022-10-21 13:56] #109 closed

[2022-10-21 13:58] SwaroopaDubal commented on #39
Name:Swaroopa dubal
CCOEW
ENTC
I would like to work on this issue. Can you please assign me?

[2022-10-21 14:01] komalvhanmane commented on #111
@aditi3004 I have assigned you this issue . o=work on it :)

[2022-10-21 14:07] anujwar commented on #21
Anuj Waghulde
PCCOER
Computer Engineering
2024 Batch

[2022-10-21 14:08] komalvhanmane commented on #21
@anujwar I have assigned you this issue . work on it :)

[2022-10-21 14:11] komalvhanmane opened #123 "Question 63"
![image](https://user-images.githubusercontent.com/87519317/197216263-eb3a6f51-fe95-49a7-8a27-b9cddd5b31a6.png)
Input :
4
aba
baba
aba
xzxb
3
aba
xzxb
ab
Output :
2
1
0

[2022-10-21 14:35] sayli2003 commented on #123
Sayli Borole
CCOEW
Comp
I would like to work on this issue
Can you assign it to me?

[2022-10-21 14:55] rishabhknowss commented on #89
Please merge my pr #125 under hacktoberfest

[2022-10-21 15:16] SwaroopaDubal commented on #38
Swaroopa Dubal
CCOEW
Entc department
I would like to work on this issue. Can you please assign me?

[2022-10-21 15:18] SwaroopaDubal commented on #21
Swaroopa Dubal
CCOEW
Entc department
I would like to work on this issue. Can you please assign me?

[2022-10-21 15:23] SwaroopaDubal commented on #3
Swaroopa Dubal
CCOEW
Entc department
I would like to work on this issue. Can you please assign me?

[2022-10-21 15:27] anujwar commented on #6
Can you assign me this issue?
PCCOER

[2022-10-21 17:01] #21 closed

[2022-10-21 17:02] #64 closed

[2022-10-21 17:06] komalvhanmane commented on #32
@ManasiGDeshmukh Have you updated solution?

[2022-10-21 17:07] komalvhanmane commented on #32
@ManasiGDeshmukh I will not be able to give more than 2 days. :)

[2022-10-21 17:09] Yashd-10 commented on #123
Name: Yash Dhapola
College:SIES Graduate School Of Technology, Navi Mumbai
Dept: CS
I would like to work on this issue under hacktoberfest'22
Can you assign it to me?

[2022-10-21 17:10] #111 closed

[2022-10-21 17:10] komalvhanmane commented on #123
@Yashd-10 I have assigned you this issue . work on it :)

[2022-10-21 17:13] komalvhanmane commented on #38
@SwaroopaDubal I have assigned you this issue work on it :)

[2022-10-21 17:20] gauravsuryvanshi06 commented on #57
Hey !!
Could assign this question to me?
Name : Gaurav Suyavanshi
College : Pimpri Chinchwad College of Engineering and Research
Dept. : Computer

[2022-10-21 17:21] komalvhanmane commented on #57
@gauravsuryvanshi06 I have assigned you this issue . work on it :)

[2022-10-21 17:27] komalvhanmane opened #131 "Question 64"
There are n employees, each with a unique id from 0 to n - 1.

You are given a 2D integer array logs where logs[i] = [idi, leaveTimei] where:

idi is the id of the employee that worked on the ith task, and
leaveTimei is the time at which the employee finished the ith task. All the values leaveTimei are unique.
Note that the ith task starts the moment right after the (i - 1)th task ends, and the 0t

[2022-10-21 17:28] komalvhanmane opened #132 "Question 65"
You are given an integer array pref of size n. Find and return the array arr of size n that satisfies:

pref[i] = arr[0] ^ arr[1] ^ ... ^ arr[i].
Note that ^ denotes the bitwise-xor operation.

It can be proven that the answer is unique.

Example 1:

Input: pref = [5,2,0,3,1]
Output: [5,7,2,3,2]
Explanation: From the array [5,7,2,3,2] we have the following:
- pref[0] = 5.
- pref[1] = 5 ^ 7 = 2.
-

[2022-10-21 17:29] komalvhanmane opened #133 "Question 66"
You are given a string s and a robot that currently holds an empty string t. Apply one of the following operations until s and t are both empty:

Remove the first character of a string s and give it to the robot. The robot will append this character to the string t.
Remove the last character of a string t and give it to the robot. The robot will write this character on paper.
Return the lexicograp

[2022-10-21 17:32] komalvhanmane commented on #131
@aditi3004 We only allow 2 issues per student. Try finding other repos . All the best :)

[2022-10-21 17:32] sayli2003 commented on #132
Sayli Borole
CCOEW
Computer
I would like to work on this issue
Can you assign it to me?

[2022-10-21 17:34] kasturimandlik commented on #58
@komalvhanmane Can you please assign me this issue?

[2022-10-21 17:36] anujwar commented on #133
anujwar
PCCOER
TY Computer Engineering

Can You assign this issue to me ?
I want to contribute towards this issue !

[2022-10-21 17:37] kasturimandlik commented on #95
Kasturi Mandlik
Cummins college of engineering for women,pune
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-21 17:39] #123 closed

[2022-10-21 17:39] kasturimandlik commented on #106
Kasturi Mandlik
Cummins college of engineering for women,pune
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-21 17:40] #107 closed

[2022-10-21 17:40] komalvhanmane commented on #131
Yeah.

[2022-10-21 17:41] komalvhanmane commented on #131
@Yashd-10 I have assigned you this issue . work on it :)

[2022-10-21 17:42] kasturimandlik commented on #58
@komalvhanmane Okay,no problem.

[2022-10-21 17:44] komalvhanmane commented on #133
@anujwar I have assigned you this issue . work on it :)

[2022-10-21 17:51] komalvhanmane commented on #132
@sayli2003 I have assigned you this issue . work on it :)

[2022-10-21 18:29] ruchagaikwad567 commented on #132
Rucha Gaikwad
PCCOER
Computer
can you assign me this task ?

[2022-10-21 18:31] zsiecr commented on #59
Piyush Nagpal
International Institute of Information Technology, Pune
Electronics and Telecommunications
Hello @komalvhanmane,
Can you please assign me this issue?

[2022-10-21 18:35] ManasiGDeshmukh commented on #59
@komalvhanmane you had assigned me this issue.... I have been working on it
can you please reassign me on this issue

[2022-10-21 18:36] gauravsuryvanshi06 commented on #57
**Question 34 Done**

[2022-10-21 18:38] ruchagaikwad567 commented on #132
Rucha Gaikwad
PCCOER
Computer
Can you assign me this task?

[2022-10-21 18:41] ruchagaikwad567 commented on #131
Rucha Gaikwad
PCCOER
Computer
Can you assign this task to me?

[2022-10-21 18:43] ruchagaikwad567 commented on #84
Rucha Gaikwad
PCCOER
Computer Engineering
Can you assign me this task?

[2022-10-21 18:44] ruchagaikwad567 commented on #38
Rucha Gaikwad
PCCOER
Computer Engineering
Can you assign this task to me?

[2022-10-21 18:46] ruchagaikwad567 commented on #6
Rucha Gaikwad
PCCOER
Computer Engineering
I would like to work on this issue.

[2022-10-21 19:32] ManasiGDeshmukh commented on #58
Manasi Deshmukh
CCOEW
Computer
I would like to work on this issue
Can you assign it to me?

[2022-10-22 03:11] JoydeepMallick commented on #73
Yes, I am working on it, My format is :-

1. File name :  Question_N.extension  (it seems to be more readable😅 than QuestionN.extension)

2. Comment out the question for reference.

whenever I can't find the question to a solution I simply rename the file as "Question_N_notfound.extension"

[2022-10-22 03:22] sayli2003 commented on #132
Ive made a PR for this Issue  Please verify it.

[2022-10-22 05:00] NikitaMiraje commented on #61
@komalvhanmane ..I tried solving this issue as it is to be solved using priority queue and I am not familiar with this topic so plz can you unassign me this issue and assign another problem???

[2022-10-22 05:03] NikitaMiraje commented on #6
Nikita Miraje
CCOEW
SY ENTC
I would like to work on tis issue, can you plz assign me??

[2022-10-22 05:05] NikitaMiraje commented on #110
Nikita Miraje
CCOEW
SY ENTC
I would like to work on tis issue, can you plz assign me??

[2022-10-22 05:06] NikitaMiraje commented on #95
Nikita Miraje
CCOEW
SY ENTC
I would like to work on tis issue, can you plz assign me??

[2022-10-22 05:07] NikitaMiraje commented on #84
Nikita Miraje
CCOEW
SY ENTC
I would like to work on tis issue, can you plz assign me??

[2022-10-22 06:06] ManasiGDeshmukh commented on #99
@Mahi1901 Created pull request for que 54 in java

[2022-10-22 06:17] anujwar opened #141 "Question 67"
Allen has a LOT of money. He has n dollars in the bank. For security reasons, he wants to withdraw it in cash (we will not disclose the reasons here). The denominations for dollar bills are 1, 5, 10, 20, 100. What is the minimum number of bills Allen could receive after withdrawing his entire balance?

Input
The first and only line of input contains a single integer n (1≤n≤109).

Output
Output the

[2022-10-22 06:18] #141 closed

[2022-10-22 06:19] NikitaMiraje commented on #61
@komalvhanmane .....I tried solving this issue but i am unable to solve it..... So plz can you unassign me this issue and assign other issues.

[2022-10-22 06:43] NikitaMiraje commented on #7
Nikita Miraje
Cummins college  of Engineering, pune
Department-Electronic and Telecommunication
I would like to work on this issue ,can you plz assign me this issue??

[2022-10-22 06:45] NikitaMiraje commented on #39
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue. Can you please assign me?

[2022-10-22 09:28] komalvhanmane commented on #61
@NikitaMiraje Okay No problem .

[2022-10-22 09:31] #89 closed

[2022-10-22 09:32] #99 closed

[2022-10-22 09:34] komalvhanmane commented on #59
@ManasiGDeshmukh we only allow 2 issues per student . and i think you are already working/completed on that 2.

[2022-10-22 09:36] #133 closed

[2022-10-22 09:37] #132 closed

[2022-10-22 09:39] #57 closed

[2022-10-22 09:39] #131 closed

[2022-10-22 10:22] zsiecr commented on #59
You could assign me this one. I haven't got a chance to make a pr on your repo.

[2022-10-22 13:44] NikitaMiraje commented on #81
@Mahi1901....can you assign me this issue???

[2022-10-22 13:45] NikitaMiraje commented on #80
@Mahi1901....can you assign me this issue???

[2022-10-22 13:46] dishantzaveri commented on #95
@Mahi1901 pls merge it

[2022-10-22 13:48] NikitaMiraje commented on #58
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue....can you assign me , you have assigned me 1 issue which I solved and other I was not able to solve.

[2022-10-22 13:50] NikitaMiraje commented on #51
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue....can you assign me??

[2022-10-22 13:52] NikitaMiraje commented on #5
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue....can you assign me???

[2022-10-22 13:53] NikitaMiraje commented on #2
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue....can you assign me

[2022-10-22 13:53] NikitaMiraje commented on #1
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue....can you assign me??

[2022-10-22 14:16] NikitaMiraje commented on #106
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue....can you assign me??

[2022-10-22 14:34] NikitaMiraje commented on #58
Nikita Miraje
CCOEW
ENTC
I would like to work on this issue.... I have completed solving 1 issue but other one I was unable to solve so I asked to unassign me so can you plz assign me???

[2022-10-22 14:44] #110 closed

[2022-10-22 14:45] #50 closed

[2022-10-22 19:01] vishwadere commented on #61
Name- vishwa dere
College-Cummins college of engineering ,Pune
Department-Computer Department, TY
I would like to work on this issue

[2022-10-23 03:24] komalvhanmane commented on #61
@vishwadere I have assigned you this issue . work on it :)

[2022-10-23 08:18] Ananya9703 commented on #3
Ananya Bhat, CCOEW, SY, COMP Dept

[2022-10-23 08:19] Ananya9703 commented on #3
Ananya Bhat, SY, Comp Dept, CCOEW
I would like to work on this issue.
Could you please assign it to me ?

[2022-10-23 09:35] zsiecr commented on #59
Added solution for Question 36 #148

[2022-10-23 10:32] #95 closed

[2022-10-23 11:04] Mahi1901 opened #149 "Question 67"
Ann is going to take part in a race. At the start, she has XX units of energy. For each subsequent second, she can decide to run or to rest (she must perform the chosen action during the whole second). If she runs, she loses one unit of energy during that second and if she rests, she gains one unit of energy during that second. However, if Ann decides to rest when she has XX units of energy, she d

[2022-10-23 11:07] Mahi1901 opened #150 "Question 68"
A string is said to be using strong language if it contains at least KK consecutive characters '*'.

You are given a string SS with length NN. Determine whether it uses strong language or not.

Input
The first line of the input contains a single integer TT denoting the number of test cases. The description of TT test cases follows.
The first line of each test case contains two space-separated inte

[2022-10-23 11:12] Mahi1901 opened #151 "Question 69"
There are two groups, one of NN boys and the other of NN girls numbered from 1 to NN.

You are given two arrays AA and BB containing NN numbers each, denoting the height of boys and girls in the group. You have to form NN couples, where each couple will consist of 1 boy and 1 girl.

Each couple has a LIKENESS VALUE, where

LIKENESS VALUE = height of girl in the couple + height of boy in that coupl

[2022-10-23 11:17] Mahi1901 opened #153 "Question 70"
Given a positive integer n and an integer kk such that 0≤k≤n, find any permutation A of 1,2…n such that the number of indices for which Ai=i is exactly k. If there exists no such permutation, print −1. If there exist multiple such permutations, print any one of them.

Input Format
First line of the input contains T, the number of test cases. Then the test cases follow.
Each test case contains a si

[2022-10-23 11:30] kasturimandlik commented on #151
Kasturi Mandlik
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-23 11:56] Mahi1901 opened #154 "Question 71"
There are N friends who decided to play the game of musical chairs one day.

Initially they decide a number K and with each passing round they remove exactly K chairs. Hence, in each round exactly K players are eliminated. The game stops when less than or exactly K players remain in the game.

Figure out for how many possible values of K there will be exactly one winner in the game.

Input Format

[2022-10-23 11:59] Sid21112002 commented on #153
Can you please assign this issue to me? I have the best possible solution for this problem, also I have explained every step of my code.

[2022-10-23 12:00] Mahi1901 commented on #151
I have assigned. Happy coding!

[2022-10-23 12:01] Mahi1901 commented on #153
Mention college name, year and branch.
@Sid21112002

[2022-10-23 12:02] Sid21112002 commented on #153
Jalpaiguri Government Engineering College
2nd year, Information Technology Department

[2022-10-23 12:06] Mahi1901 commented on #153
I have assigned, Happy coding!

[2022-10-23 12:21] kasturimandlik commented on #154
Kasturi Mandlik
Cummins college of engineering for women, pune
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-23 13:43] ShrutikaK2911 commented on #154
Shrutika Kaperavenollu
Cummins college of engineering for women,  Pune
Dept: Information Technology
I would like to work on this issue. Can you please assign me this issue?

[2022-10-23 13:53] pranotip283 commented on #154
Pranoti Patil
Cummins college of engineering for women, Pune
Dept: Computer Engineering
I would like to work on this issue. Can you please assign me this issue

[2022-10-23 13:53] Sid21112002 commented on #150
Jalpaiguri Government Engineering College
2nd year, Information Technology Department
Can you kindly assign this issue to me?

[2022-10-23 14:05] ShrutikaK2911 commented on #58
Shrutika Kaperavenollu
CCOEW
IT
I would like to work on this issue
Can you assign it to me?

[2022-10-23 14:07] pranotip283 commented on #6
Pranoti Patil
CCOEW
Comp
Can you assign this issue to me?

[2022-10-23 14:08] pranotip283 commented on #5
Pranoti Patil
Comp
CCOEW
Can you assign this issue to me?

[2022-10-23 14:12] pranotip283 commented on #150
Pranoti Patil
CCOEW COMP
can you assign me this issue?

[2022-10-23 14:21] ManasiGDeshmukh commented on #154
Manasi Deshmukh
Cummins college of engineering for women, Pune
Computer Engineering
I would like to work on this issue.
Can you please assign me this issue? @Mahi1901

[2022-10-23 14:21] ManasiGDeshmukh commented on #150
Manasi Deshmukh
Cummins college of engineering for women, Pune
Computer Engineering
I would like to work on this issue.
Can you please assign me this issue?

[2022-10-23 14:22] ManasiGDeshmukh commented on #149
Manasi Deshmukh
Cummins college of engineering for women, Pune
Computer Engineering
I would like to work on this issue.
Can you please assign me this issue?

[2022-10-23 14:31] pranotip283 commented on #151
Pranoti Patil
CCOEW
Comp
Can you assign me this issue?

[2022-10-23 14:33] pranotip283 commented on #149
Pranoti Patil
CCOEW
Comp
Can you kindly assign me this issue?

[2022-10-23 15:05] ShrutikaK2911 commented on #150
Name : Shrutika Kaperavenollu
CCOEW
Branch : IT
I would like to work on this issue.
Can you please assign me this issue

[2022-10-23 15:06] ShrutikaK2911 commented on #149
Name : Shrutika Kaperavenollu
CCOEW
Branch : IT
I would like to work on this issue.
Can you please assign me this issue

[2022-10-23 16:57] Mahi1901 opened #156 "Question 72"
You are given two integers NN and MM. Find any connected undirected graph GG consisting of exactly NN vertices and MM edges, such that the number of bridges in GG is maximized (among all graphs with NN vertices and MM edges). GG cannot have self-loops or multiple edges.

If there is more than one connected undirected graph with the maximum number of bridges, you may print any one of them.

Note: A

[2022-10-23 17:05] Mahi1901 opened #157 "Question 73"
Sasuke and Itachi are playing a game. Sasuke first creates an array AA containing NN positive integers A1, A2,…,AN. He then creates a new array BB of length NN such that Bi=gcd (A1 ,A2,...,Ai) for each 1≤i≤N. Now, Sasuke gives array BB to Itachi and asks him to find any array AA (with 1≤Ai≤10^9) such that the given process applied to AA will produce BB. Can you help Itachi solve this problem?
Here

[2022-10-23 17:58] AnnadaD commented on #156
Annada Dash
Cummins college of engineering for women, Pune
Dept: Computer Engineering
I would like to work on this issue. Can you please assign me this issue

[2022-10-23 18:46] kasturimandlik commented on #157
Kasturi Mandlik
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-23 18:46] kasturimandlik commented on #151
@Mahi1901 I have completed my assignment. Please do check.

[2022-10-23 19:22] JanhaviGadre commented on #157
Janhavi  Gadre
Cummins college of engineering for women
Dept: Computer
I would like to work on this issue.
 Can you please assign me this issue?

[2022-10-24 05:07] NikitaMiraje commented on #157
Nikita Miraje
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-24 05:08] NikitaMiraje commented on #156
Nikita Miraje
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-24 05:08] NikitaMiraje commented on #150
Nikita Miraje
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-24 05:08] NikitaMiraje commented on #154
Nikita Miraje
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-24 05:13] NikitaMiraje commented on #149
Nikita Miraje
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-24 05:16] NikitaMiraje commented on #153
Nikita Miraje
Cummins college of engineering for women
Dept: Electronics and telecommunication
I would like to work on this issue. Can you please assign me this issue?

[2022-10-24 07:39] kasturimandlik commented on #157
@Mahi1901 Can you please assign me this issue?

[2022-10-24 08:46] ManasiGDeshmukh commented on #157
Manasi Deshmukh
Cummins college of engineering for women
Dept: Computer Engineering
I would like to work on this issue.
Can you please assign me this issue?

[2022-10-24 08:47] ManasiGDeshmukh commented on #156
Manasi Deshmukh
Cummins college of engineering for women
Dept: Computer Engineering
I would like to work on this issue.
Can you please assign me this issue?
@Mahi1901

[2022-10-24 18:06] ShrutikaK2911 commented on #156
Shrutika Kaperavenollu
CCOEW
IT
I would like to work on this issue.
Can you please assign me this issue?

[2022-10-24 18:07] ShrutikaK2911 commented on #157
Shrutika Kaperavenollu
CCOEW
IT
I would like to work on this issue.
Can you please assign me this issue?

[2022-10-25 06:22] #59 closed

[2022-10-25 06:23] komalvhanmane commented on #58
@ShrutikaK2911 I have assigned you this . work on it :)

[2022-10-25 06:24] #61 closed

[2022-10-25 06:27] komalvhanmane commented on #32
@kasturimandlik Are you working on this issue ?

[2022-10-25 06:30] komalvhanmane commented on #38
@SwaroopaDubal update ?

[2022-10-25 06:31] komalvhanmane commented on #39
@drashan14 update ?

[2022-10-25 06:31] komalvhanmane commented on #51
@niteshjeganathan update?

[2022-10-25 06:34] komalvhanmane opened #160 "question 74"
You are given two arrays of strings that represent two inclusive events that happened on the same day, event1 and event2, where:

event1 = [startTime1, endTime1] and
event2 = [startTime2, endTime2].
Event times are valid 24 hours format in the form of HH:MM.

A conflict happens when two events have some non-empty intersection (i.e., some moment is common to both events).

Return true if there is a

[2022-10-25 06:35] komalvhanmane opened #161 "Question 75"
Given an integer array nums and an integer k, return the number of subarrays of nums where the greatest common divisor of the subarray's elements is k.

A subarray is a contiguous non-empty sequence of elements within an array.

The greatest common divisor of an array is the largest integer that evenly divides all the array elements.

Example 1:

Input: nums = [9,3,1,2,6,3], k = 3
Output: 4
Explan

[2022-10-25 06:49] ArtiHere commented on #160
Name : Arti Tambade
Branch : IT
College : MKSSS's CCOEW
Please assign this issue to me

[2022-10-25 06:51] NikitaMiraje commented on #161
Nikita Miraje
CCOEW
DEPT:ENTC
I would like to work on this issue...plz can you assign me??

[2022-10-25 06:53] ArtiHere commented on #150
Name : Arti Tambade
College : CCOEW
Branch : IT
I would like to work on this issue.
Can you please assign me this issue

[2022-10-25 07:00] ArtiHere commented on #161
Name : Arti Tambade
College : CCOEW
Branch : IT
I would like to work on this issue
Please assign it to me

[2022-10-25 07:02] ArtiHere commented on #154
Name : Arti Tambade
College : CCOEW
Branch : IT
I would like to work on this issue
Please assign it to me

[2022-10-25 08:48] ShrutikaK2911 commented on #161
Name : Shrutika Kaperavenollu
CCOEW
Branch : IT
I would like to work on this issue.
Can you please assign me this issue

[2022-10-25 08:48] ShrutikaK2911 commented on #160
Name : Shrutika Kaperavenollu
CCOEW
Branch : IT
I would like to work on this issue.
Can you please assign me this issue

[2022-10-25 08:49] Mahi1901 commented on #157
I have assigned. Happy coding!

[2022-10-25 08:50] #106 closed

[2022-10-25 08:50] Mahi1901 commented on #156
I have assigned. Happy coding!

[2022-10-25 08:51] Mahi1901 commented on #154
I have assigned. Happy coding!

[2022-10-25 08:55] Mahi1901 commented on #149
I have assigned. Happy coding!

[2022-10-25 10:23] ManasiGDeshmukh commented on #161
Name : Manasi Deshmukh
CCOEW
Branch : Computer Engineering
I would like to work on this issue.
Can you please assign me this issue ?

[2022-10-25 10:23] ManasiGDeshmukh commented on #160
Name : Manasi Deshmukh
CCOEW
Branch : Computer Engineering
I would like to work on this issue.
Can you please assign me this issue ?

[2022-10-25 10:30] sanikachavan18 commented on #161
Sanika Chavan
CCOEW
Computer Engineering
I would like to work on this issue
Can you please assign me this issue

[2022-10-25 10:31] sayli2003 commented on #160
Sayli Borole
CCOEW
Computer
I would like to work on this issue.

[2022-10-25 10:33] sayli2003 commented on #161
Sayli Borole
CCOEW
Computer
I would like to work on this issue.

[2022-10-25 10:55] pranotip283 commented on #160
Pranoti Patil
CCOEW
Comp
Can you assign me this issue?

[2022-10-26 05:40] ruchagaikwad567 commented on #160
Rucha Gaikwad
PCCOER
Computer
Can you assign me this issue ?

[2022-10-26 05:41] ruchagaikwad567 commented on #161
Rucha Gaikwad
PCCOER
Computer
Can you assign me this issue?

[2022-10-26 07:03] #150 closed

[2022-10-26 11:47] NEd888 commented on #32
@komalvhanmane Can you assign me this issue ?

[2022-10-26 16:29] pranotip283 commented on #161
Pranoti Patil
CCOEW
SY COMP
Can you assign this to me?

[2022-10-27 04:05] #32 closed

[2022-10-27 04:06] #58 closed

[2022-10-27 06:57] RuchikaSuryawanshi7 opened #169 "Design a vote counting machine"
Design a vote counting machine that can input valid candidates' names and vote cast list, we need your help to write a function to find the number of votes cast against each good candidate, invalid vote counts, and finally the winner's name.

**Note:** If two candidates have the same votes then the winner can be finalized based on the order of valid candidates. If the number of invalid ballots is

[2022-10-27 07:02] RuchikaSuryawanshi7 opened #170 "Improve the Readme file of the Repository"

[2022-10-27 07:05] kasturimandlik commented on #154
@Mahi1901 I have completed my assignment. Please do check.

[2022-10-27 07:05] kasturimandlik commented on #157
@Mahi1901 I have completed my assignment. Please do check.

[2022-10-27 07:07] AnnadaD commented on #169
Annada Dash
CCOEW
Computer Engineering
I would like to work on this issue
Can you please assign me this issue

[2022-10-27 07:27] NikitaMiraje commented on #169
Nikita Miraje
CCOEW
E&TC
I would like to work on this issue
Can you please assign me this issue???

[2022-10-27 07:31] ManasiGDeshmukh commented on #170
hey
I'm Manasi Deshmukh
CCOEW
Computer Engineering

I want to work on this issue
Can you assign this to me?

[2022-10-27 07:32] ManasiGDeshmukh commented on #169
hey
I'm Manasi Deshmukh
CCOEW
Computer Engineering

I want to work on this issue
Can you assign this to me?

[2022-10-27 07:33] ArtiHere commented on #38
Name : Arti Tambade
College : CCOEW
Branch : IT
I would like to work on it
Can you please assign this issue to me?

[2022-10-27 07:38] ManasiGDeshmukh commented on #38
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-27 07:38] ManasiGDeshmukh commented on #51
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-27 07:38] ManasiGDeshmukh commented on #39
Manasi Deshmukh
CCOEW
SY Computer Department
can you assign this issue to me?

[2022-10-27 09:16] kasturimandlik commented on #151
@Mahi1901 I have completed my assignment. Please do check and merge my pull request.

[2022-10-27 09:16] kasturimandlik commented on #157
@Mahi1901 I have completed my assignment. Please do check and merge my pull request.

[2022-10-27 09:26] gaurijoshi22 commented on #170
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- SY-IT
I would like to work on this issue.
Please assign me this issue.

[2022-10-27 09:27] gaurijoshi22 commented on #39
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- SY-IT
I would like to work on this issue.
Please assign me this issue.

[2022-10-27 09:28] gaurijoshi22 commented on #38
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- SY-IT
I would like to work on this issue.
Please assign me this issue.

[2022-10-27 09:29] gaurijoshi22 commented on #5
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- SY-IT
If the issue is still open, I would like to work on this issue.
Please assign me this issue.

[2022-10-27 09:30] gaurijoshi22 commented on #169
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- SY-IT
I would like to work on this issue.
Please assign me this issue.

[2022-10-27 09:56] RuchikaSuryawanshi7 opened #172 "Create an Array.md explaining Array data-structure"
- Explain the Array data structure
- how it works
- how to create
- try to add code snippets, pictures & gif's  explaining the concept
- Time complexity, the Space complexity of each operation performed on an array
**Note: add your readme.MD in Data structure/ Array/ your file**

[2022-10-27 09:57] gaurijoshi22 commented on #172
Gauri Joshi
Cummins College of Engineering for Women, Pune
Dept- SY-IT
I would like to work on this issue.
Please assign me this issue.

[2022-10-27 10:41] Kriti-2308 commented on #172
Kritika Dubey
Cummins college of engineering
Sy-IT
I would like to work on this issue

[2022-10-27 13:58] ManasiGDeshmukh commented on #170
@RuchikaSuryawanshi7 Created a pull request...

[2022-10-27 16:58] ManasiGDeshmukh commented on #73
Manasi Deshmukh
Ccoew
Sy computer Engineering

Can you assign me this issue

[2022-10-27 18:21] ManasiGDeshmukh commented on #51
@komalvhanmane

[2022-10-27 18:49] ManasiGDeshmukh commented on #1
Manasi Deshmukh
Cummins College of Engineering for Women, Pune
SY Computer Department
can you assign this issue to me?

[2022-10-27 18:50] ManasiGDeshmukh commented on #2
Manasi Deshmukh
Cummins College of Engineering for Women, Pune
SY Computer Department
can you assign this issue to me?

[2022-10-28 08:50] #172 closed

[2022-10-28 08:51] #170 closed

[2022-10-28 08:52] RuchikaSuryawanshi7 commented on #169
I'm assigning this issue to all, whoever completes's first will get merged there PR

[2022-10-28 09:00] RuchikaSuryawanshi7 opened #179 "Create an String.md explaining String"
1. Explain the String
2. how it works
3. how to create
4. try to add code snippets, pictures & gif's explaining the concept
5. Time complexity, the Space complexity of each operation performed on an string
6. Explain functions used in STRING

**Note: add your readme.MD in Data structure/ String/ your file**

[2022-10-28 09:03] RuchikaSuryawanshi7 opened #180 "Create an Queue.md explaining Queue data-structure"
- Explain the Queue Data structure
- how it works
- how to create
- try to add code snippets, pictures & gif's explaining the concept
- Time complexity, the Space complexity of each operation performed on the Queue
- Explain functions used in Queue

Note: add your readme.MD in Data structure/Queue/ your file

[2022-10-28 09:04] Kriti-2308 commented on #179
Kritika Dubey
Cummins college of engineering
SY-IT
I would like to work on this issue please assign it to me

[2022-10-28 09:04] RuchikaSuryawanshi7 opened #181 "Create an Stack.md explaining Stack data-structure"
- Explain the Stack Data structure
- how it works
- how to create
- try to add code snippets, pictures & gif's explaining the concept
- Time complexity, the Space complexity of each operation performed on the Stack
- Explain functions used in Stack

Note: add your readme.MD in Data structure/Stack/ your file

[2022-10-28 09:07] siddhesh-coder commented on #180
Hi can you plz assign me this issue

[2022-10-28 09:08] Kriti-2308 commented on #180
Kritika Dubey
Cummins college of engineering
SY-IT
I would like to work on this issue please assign it to me

[2022-10-28 09:08] Kriti-2308 commented on #181
Kritika Dubey
Cummins college of engineering
SY-IT
I would like to work on this issue please assign it to me

[2022-10-28 09:09] shreya2663 commented on #181
Please assign this to me

[2022-10-28 09:24] RuchikaSuryawanshi7 commented on #179
@Kriti-2308 you can work on this issue

[2022-10-28 09:35] sejal-phatangare commented on #181
Sejal phatangare
Cummins College of Engineering, Pune
Sy Comp
Please assign me this issue

[2022-10-28 09:37] sejal-phatangare commented on #180
Sejal Phatangare
Cummins College of Engineering, Pune
Sy Comp
Please assign me this issue

[2022-10-28 09:44] gaurijoshi22 commented on #39
@komalvhanmane PR created please check.

[2022-10-28 09:58] shruti-2412 commented on #180
Shruti Chandak
Cummins College of Engineering for Women, Pune
SY-COMP
I would like to work on this issue
please assign it to me

[2022-10-28 10:21] #157 closed

[2022-10-28 10:22] #154 closed

[2022-10-28 10:25] ManasiGDeshmukh commented on #169
@RuchikaSuryawanshi7  Created a pull request

[2022-10-28 10:29] ManasiGDeshmukh commented on #179
Manasi Deshmukh
Cummins college of engineering
SY-Comp
I would like to work on this issue please assign it to me

[2022-10-28 10:34] Mahi1901 opened #185 "Question 76"
The Professor is facing the North. Tokyo is in trouble, and she is facing the South. Professor being her guardian angel wants to help her. So, The Professor will follow some instructions, given as a string S of length N, and will turn either left or right according to these instructions. He can save Tokyo only if after following a substring of instructions he will face in the same direction that T

[2022-10-28 10:35] AnnadaD commented on #185
Annada Dash
CCOEW
Computer Engineering
I would like to work on this issue
Can you please assign me this issue

[2022-10-28 10:39] NikitaMiraje commented on #6
@JMukta25 can you assign me this issue???

[2022-10-28 10:40] NikitaMiraje commented on #5
@JMukta25 if this issue is still open can you assign me???

[2022-10-28 10:40] Kriti-2308 commented on #185
Kritika Dubey
Cummins college of engineering
SY-IT
I would like to work on this issue please assign it to me

[2022-10-28 10:41] Mahi1901 opened #186 "Question 77"
Given a string S of length N containing only numeric characters, find the number of Nice Pairs.

A Nice Pair is a pair of indices - (i, j) such that 1≤i<j≤N and j - i = |Sj - Si|.

Input Format
First line will contain T, number of testcases. Then the testcases follow.
The first line of each testcase contains a single integer, N, the length of the string
The second line of each testcase contains a

[2022-10-28 10:41] Kriti-2308 commented on #186
Kritika Dubey
Cummins college of engineering
SY-IT
I would like to work on this issue please assign it to me

[2022-10-28 10:42] Mahi1901 commented on #185
I have assigned. Happy coding!

[2022-10-28 10:42] Mahi1901 commented on #186
I have assigned. Happy coding!

[2022-10-28 10:43] AnnadaD commented on #186
Annada Dash
CCOEW
Computer Engineering
I would like to work on this issue
Can you please assign me this issue

[2022-10-28 10:48] Mahi1901 opened #187 "Question 78"
You are given an integer N. You can repeat the following operation until N becomes 1.

Choose an integer X such that X>1 and X is a divisor of N and then divides N by X (the new value of N becomes N/X). If X is even, you get A points otherwise B points
Can you find the maximum points obtainable if operations are performed optimally?

Input Format
First line will contain T, number of testcases. The

[2022-10-28 10:53] NikitaMiraje commented on #187
NIKITA MIRAJE
CCOEW
E&TC
I would like to work on this issue...can you plz assign me this issue????

[2022-10-28 10:54] Mahi1901 opened #188 "Question 79"
Given an integer N, consider all arrays A of size N such that:
All the elements are non-negative and distinct.
All prefix sums are odd. Formally, for all ii such that 1≤i≤N, ∑ (j=1 to i) Ai is odd.
Among all possible arrays A, output the smallest possible sum of the elements of the array.

Input Format
The first line contains T - the number of test cases. Then the test cases follow.
The first line

[2022-10-28 10:55] AnnadaD commented on #188
Annada Dash
CCOEW
Computer Engineering
I would like to work on this issue
Can you please assign me this issue

[2022-10-28 10:57] #161 closed

[2022-10-28 10:57] #83 closed

[2022-10-28 10:57] #84 closed

[2022-10-28 10:58] NikitaMiraje commented on #188
Nikita Miraje
CCOEW
E&TC
I would like to work on this issue
Can you please assign me this issue

[2022-10-28 10:59] #39 closed

[2022-10-28 11:01] Mahi1901 commented on #187
I have assigned. Happy coding!

[2022-10-28 11:01] #187 closed

[2022-10-28 11:01] Mahi1901 commented on #188
I have assigned. Happy coding!

[2022-10-28 11:12] #169 closed

[2022-10-28 11:48] NikitaMiraje commented on #187
@Mahi1901 I have created PR plz do check....

[2022-10-28 12:31] shreya2208 commented on #185
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-28 13:09] Mahi1901 opened #192 "Question 80"
You are given an undirected graph with N nodes (numbered 1 through N). For each valid i, the i-th node has a weight Wi . Also, for each pair of nodes i and j, there is an edge connecting these nodes if (j - i) !=(Wj - Wi).
Find the number of connected components in this graph.

Input Format
The first line of the input contains a single integer T denoting the number of test cases. The description o

[2022-10-28 13:09] NikitaMiraje commented on #151
Nikita Miraje
CCOEW
E&TC
I want to work on this issue........Can you assign this to me?

[2022-10-28 13:20] NikitaMiraje commented on #192
Nikita Miraje
CCOEW E&TC
I will like to work on this issue....Can you assign this to me?

[2022-10-28 14:03] shreya2208 commented on #192
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-28 14:12] Kriti-2308 commented on #185
HI
i played it out and i think that the third output should be "NO" . can you please check it once

[2022-10-28 14:38] Mahi1901 opened #193 "Question 81"
You are given a string S and a string P, called pattern. You have to find the pattern in S, but that might be impossible. So you can reorder the characters of S in such a way that P occurs in the resulting string (an anagram of S) as a substring. Can you find the lexicographically smallest anagram of S that contains P as substring?

Note: A string B is a substring of a string A if B can be obtaine

[2022-10-28 14:41] Mahi1901 commented on #185
I have updated.

[2022-10-28 14:42] Mahi1901 commented on #192
I have assigned. Happy coding!

[2022-10-28 14:47] NikitaMiraje commented on #193
Nikita Miraje
CCOEW E&TC
I would like to work on this issue....can you plz assign me this issue??

[2022-10-28 15:10] JMukta25 opened #194 "Question 82"
Given an array of bird sightings where every element represents a bird type id, determine the id of the most frequently sighted type. If more than 1 type has been spotted that maximum amount, return the smallest of their ids.
Example
arr=[1,1,2,2,3]
There are two each of types  and , 1 and 2 one sighting of type . Pick the lower of the two types seen twice: type .
Function description
Complete the

[2022-10-28 15:17] JMukta25 opened #195 "Question 83"
An arcade game player wants to climb to the top of the leaderboard and track their ranking. The game uses [Dense Ranking], so its leaderboard works like this:
The player with the highest score is ranked number  on the leaderboard.
Players who have equal scores receive the same ranking number, and the next player(s) receive the immediately following ranking number.
ranked=[100,90,90,80]
player=[70,

[2022-10-28 15:18] ShreyaShetty-263 commented on #194
pl assign me this

[2022-10-28 15:19] ShreyaShetty-263 commented on #193
shreya shetty

CCOEW E&TC
I would like to work on this issue....can you plz assign me this issue??

[2022-10-28 15:20] ShreyaShetty-263 commented on #194
shreya shetty
CCOEW E&TC
I would like to work on this issue....can you plz assign me this issue??

[2022-10-28 15:21] ShreyaShetty-263 commented on #195
shreya shetty
CCOEW E&TC
I would like to work on this issue....can you plz assign me this issue??

[2022-10-28 15:22] Mahi1901 opened #196 "Question 86"
You are given an integer N.

Construct any permutation A of N integers such that the value LCM(1+A1
, 2+A2
,…,N+AN
) is minimized.

A permutation of N integers contains all integers from 1 to N exactly once.

Input Format
First line will contain T, number of test cases. Then the test cases follow.
Each test case contains a single line of input, one integer N.
Output Format
For each test case, outp

[2022-10-28 15:28] Mahi1901 opened #198 "Question 87"
There are N students in a class. Recently, an exam on Advanced Algorithms was conducted with maximum score M and minimum score 0. The average score of the class was found out to be exactly X.
Given that a student having score strictly greater than the average receives an A grade, find the maximum number of students that can receive an A grade.

Input Format
First line will contain T, number of tes

[2022-10-28 15:32] JMukta25 opened #199 "Question 85"
There is a collection of input strings and a collection of query strings. For each query string, determine how many times it occurs in the list of input strings. Return an array of the results.
Function Description
 The function must return an array of integers representing the frequency of occurrence of each query string in stringList.
matchingStrings has the following parameters:
string stringLi

[2022-10-28 15:34] Mahi1901 opened #200 "Question 88"
Alice and Bob are ready to play a new game. Both the players take alternate turns. Alice starts first.

There are N binary numbers written on a blackboard.

Alice, in her turn, erases any 2 numbers from the blackboard and writes the bitwise OR of those 2 numbers on the blackboard.
Bob, in his turn, erases any 2 numbers from the blackboard and writes the bitwise AND of those 2 numbers on the blackb

[2022-10-28 15:34] Shruti-78 commented on #196
Shruti Koshti
CCOEW
SY Computer
I want to work on this issue.. Can you assign it to me?

[2022-10-28 15:39] ManasiGDeshmukh commented on #200
Manasi Deshmukh
CCOEW
SY Comp
I want to work on this issue
please assign this to me

[2022-10-28 15:40] JMukta25 opened #201 "Question 91"
There is a large pile of socks that must be paired by color. Given an array of integers representing the color of each sock, determine how many pairs of socks with matching colors there are.
n=7
arr=[1,2,1,2,1,3,2]
There is one pair of color 1 and one of color 2 . There are three odd socks left, one of each color. The number of pairs is 2.
Complete the sockMerchant function in the editor below.
Fu

[2022-10-28 15:41] #1 closed

[2022-10-28 15:41] #2 closed

[2022-10-28 15:42] #3 closed

[2022-10-28 15:42] #5 closed

[2022-10-28 15:43] #6 closed

[2022-10-28 15:43] #7 closed

[2022-10-28 15:47] JMukta25 opened #202 "Question 92"
The Utopian Tree goes through 2 cycles of growth every year. Each spring, it doubles in height. Each summer, its height increases by 1 meter.
A Utopian Tree sapling with a height of 1 meter is planted at the onset of spring. How tall will the tree be after  growth cycles?
For example, if the number of growth cycles is , the calculations are as follows:
Period  Height
0          1
1          2
2

[2022-10-28 15:50] Shruti-78 commented on #194
Shruti Koshti
CCOEW
SY Comp
I want to work on this issue.. Can you assign me?

[2022-10-28 15:53] JMukta25 opened #203 "Question 93"
There is a sequence of words in [CamelCase](https://en.wikipedia.org/wiki/CamelCase) as a string of letters, , having the following properties:

It is a concatenation of one or more words consisting of English letters.
All letters in the first word are lowercase.
For each of the subsequent words, the first letter is uppercase and rest of the letters are lowercase.
Given , determine the number of w

[2022-10-28 15:55] Shruti-78 commented on #195
Shruti Koshti
CCOEW
SY, Comp
I want to work on this issue.. can you assign it to me?

[2022-10-28 15:58] JMukta25 commented on #195
I have assigned. Happy Coding!!

[2022-10-28 15:59] JMukta25 commented on #196
We cannot assign this issue to you as you have been already assigned 2 issues.

[2022-10-28 16:01] JMukta25 commented on #200
How many issues have been assigned to you till now?

[2022-10-28 16:04] VodkaCranberry commented on #201
May I solve this issue @JMukta25 ?

[2022-10-28 16:05] ManasiGDeshmukh commented on #200
7

[2022-10-28 16:05] Shruti-78 commented on #198
Shruti Koshti
CCOEW
SY, Comp
I want to work on this issue.. Can you assign it to me?

[2022-10-28 16:10] AnnadaD commented on #202
Hello,
Annada Dash
CCOEW
SY Comp
I want to work on this issue
Can you please assign this to me

[2022-10-28 16:21] NikitaMiraje commented on #203
Nikita Miraje
CCOEW E&TC
I would like to work on this issue.....can you please assign me this issue???

[2022-10-28 16:23] NikitaMiraje commented on #202
Nikita Miraje
CCOEW E&TC
I would like to work on this issue.....can you please assign me this issue???

[2022-10-28 16:26] NikitaMiraje commented on #201
Nikita Miraje
CCOEW E&TC
I would like to work on this issue.....can you please assign me this issue???

[2022-10-28 16:30] shreya2208 commented on #199
Shreya Amritkar
Cummins College of Engineering for Women, Pune
Dept- Information Technology 3rd year
I would like to work on this issue, can u pls assign it to me?

[2022-10-28 16:30] JMukta25 commented on #201
@ VodkaCranberry
Write your name and college name as well as in which year you are?

[2022-10-28 16:31] JMukta25 commented on #199
How many issues have been assigned to you till now?

[2022-10-28 16:32] JMukta25 commented on #202
How many issues have been assigned to you till now?

[2022-10-28 16:36] shreya2208 commented on #199
none

[2022-10-28 16:48] shreya2208 commented on #199
@JMukta25 no issue assigned to me now.  Please assign me this one

[2022-10-28 16:49] AnnadaD commented on #202
2 were assigned to me, but one of them was closed and  they considered another person's requests as she provided the solution earlier than me and the other one, I have already sent merge request for it.

[2022-10-28 16:52] JMukta25 commented on #199
Yes yes

On Fri, 28 Oct, 2022, 10:18 pm Shreya Amritkar, ***@***.***>
wrote:

[2022-10-28 16:55] Git-Akshat01 commented on #203
Hi! @JMukta25 Can you please assign me this task.
I am Akshat Tiwari of BIT Raipur from Computer Science Engineering Branch.

[2022-10-28 16:57] JMukta25 commented on #199
I have assigned

[2022-10-28 16:57] Git-Akshat01 commented on #202
Hi! @JMukta25 Can you please assign me this task.
I am Akshat Tiwari of BIT Raipur from Computer Science Engineering Branch.

[2022-10-28 16:57] Git-Akshat01 commented on #196
Hi! @JMukta25 Can you please assign me this task.
I am Akshat Tiwari of BIT Raipur from Computer Science Engineering Branch.

[2022-10-28 16:58] Git-Akshat01 commented on #192
Hi! @JMukta25 Can you please assign me this task.
I am Akshat Tiwari of BIT Raipur from Computer Science Engineering Branch.

[2022-10-28 16:59] Git-Akshat01 commented on #200
Hi! @JMukta25 Can you please assign me this task.
I am Akshat Tiwari of BIT Raipur from Computer Science Engineering Branch.

[2022-10-28 17:02] shreya2208 commented on #199
Created a PR. please check

[2022-10-28 17:43] NikitaMiraje commented on #193
@JMukta25 i have created PR.

[2022-10-28 17:50] NikitaMiraje commented on #198
Nikita Miraje
CCOEW
E&TC
I would like to work on this issue....plz assign this to me...
I have created 3 PRs till now.

[2022-10-28 17:50] NikitaMiraje commented on #203
Nikita Miraje
CCOEW
E&TC
I would like to work on this issue....plz assign this to me...
I have created 3 PRs till now.

[2022-10-28 17:59] #193 closed

[2022-10-28 18:13] utkarshaskumbhar commented on #201
Hii
I am utkarsha from sy comp
I want to work on this issue

[2022-10-28 18:18] utkarshaskumbhar commented on #192
Hii
I am utkarsha from CCOEW sy comp
I want to work on this issue

[2022-10-28 18:18] NikitaMiraje commented on #203
@JMukta25 I have created PR.

[2022-10-28 18:22] utkarshaskumbhar commented on #203
Hii
I am utkarsha from CCOEW sy comp
I want to work on this issue

[2022-10-28 18:23] utkarshaskumbhar commented on #202
Hii
I am utkarsha from CCOEW sy comp
I want to work on this issue

[2022-10-28 19:24] siddhesh-coder commented on #203
college: Dr.D.Y.Patil Institute of Engineering & Technology Ambi
name: Siddhesh Bhosale
Branch: computer Engineering
year: BE Final Year

[2022-10-28 19:24] siddhesh-coder commented on #202
college: Dr.D.Y.Patil Institute of Engineering & Technology Ambi
name: Siddhesh Bhosale
Branch: computer Engineering
year: BE Final Year

[2022-10-28 19:25] siddhesh-coder commented on #199
college: Dr.D.Y.Patil Institute of Engineering & Technology Ambi
name: Siddhesh Bhosale
Branch: computer Engineering
year: BE Final Year

[2022-10-28 19:25] siddhesh-coder commented on #198
college: Dr.D.Y.Patil Institute of Engineering & Technology Ambi
name: Siddhesh Bhosale
Branch: computer Engineering
year: BE Final Year

[2022-10-28 19:25] siddhesh-coder commented on #192
college: Dr.D.Y.Patil Institute of Engineering & Technology Ambi
name: Siddhesh Bhosale
Branch: computer Engineering
year: BE Final Year

[2022-10-28 19:49] VodkaCranberry commented on #201
Prerak Mathur, 3rd Year
Indian Institute of Information Technology, Lucknow (IIIT-L)

[2022-10-29 05:17] ShreyaShetty263 commented on #198
Shreya Shetty
CCOEW
E&TC
I would like to work on this issue....plz assign this to me...
I want this to be my first pr
pl assign me this

[2022-10-29 06:22] #203 closed

[2022-10-29 06:22] #202 closed

[2022-10-29 06:23] #201 closed

[2022-10-29 06:25] #199 closed

[2022-10-29 06:25] #188 closed

[2022-10-29 06:26] #180 closed

[2022-10-29 06:30] #200 closed

[2022-10-29 06:32] #160 closed

[2022-10-29 06:34] #81 closed

[2022-10-29 09:07] RuchikaSuryawanshi7 opened #212 "Create an LinkedList.md explaining LinkedList data-structure"
- Explain the LinkedList Data structure
- how it works
- how to create
- try to add code snippets, pictures & gif's explaining the concept
- Time complexity, the Space complexity of each operation performed on the LinkedList
- Explain functions used in LinkedList

**_Note: add your readme.MD in Data structure/LinkedList/ your file_**

[2022-10-29 09:09] RuchikaSuryawanshi7 opened #213 "Create an Tree.md explaining Tree data-structure"
- Explain the Tree Data structure
- how it works
- how to create
- try to add code snippets, pictures & gif's explaining the concept
- Time complexity, the Space complexity of each operation performed on the Tree
- Explain functions used in Tree

_**Note: add your readme.MD in Data structure/Tree/ your file**_

[2022-10-29 09:11] RuchikaSuryawanshi7 opened #214 "Create an Graph.md explaining Graph data-structure"
- Explain the Graph Data structure
- how it works
- how to create
- try to add code snippets, pictures & gif's explaining the concept
- Time complexity, the Space complexity of each operation performed on the Graph
- Explain functions used in Graph

_**Note: add your readme.MD in Data structure/Graph/ your file**_

[2022-10-29 09:39] RashiSingh20 commented on #214
I would like to work on it

[2022-10-29 10:30] RuchikaSuryawanshi7 commented on #214
@RashiSingh20 can you add all your details in the comment (name, college, year, msg)

[2022-10-29 10:37] RashiSingh20 commented on #214
Name- Rashi Singh
College- Dr. D.Y Patil Institute Of Technology, Pune
Year- 2019-2023

[2022-10-29 10:38] RuchikaSuryawanshi7 commented on #214
you can work on this issue now

[2022-10-29 10:59] SparshRastogi opened #217 "Create a text summarizer using NLP"
Create an extractive text summarizer using classical NLP with the use of TF-IDF

[2022-10-29 11:02] SparshRastogi commented on #217
@RuchikaSuryawanshi7 @JMukta25 I would like to contribute the above algorithm to the AI-ML repository as part of Hacktoberfest 2022,can you assign this to me under the Hacktoberfest label?

[2022-10-29 11:06] RuchikaSuryawanshi7 commented on #217
@SparshRastogi please create this PR in AL/ML Repository

[2022-10-29 14:07] sejal-phatangare commented on #212
Sejal Phatangare
please assign me this issue

[2022-10-29 14:25] ShreyaShetty263 commented on #213
shreya shetty
ccoew entc
can u assign me this

[2022-10-29 14:51] voiDXDops commented on #212
Can I have the access to it?

[2022-10-29 14:59] voiDXDops commented on #186
Can I have the access to work on it?

[2022-10-29 15:08] voiDXDops commented on #198
Can I have the ACCESS to answer this question?

Jishu Sengupta
College: Techno Main Salt Lake, Kolkata
GDSC TMSL

[2022-10-29 16:27] SparshRastogi commented on #217
Ok thanks

[2022-10-29 16:42] SparshRastogi opened #222 "Add Kadane's Algorithm to the array directory"
@RuchikaSuryawanshi7 I would like to add the implementation of the Kadane's algorithm in Python to the Array directory of your repository,could you please assign that to me so I can move forward with it

[2022-10-29 17:13] RuchikaSuryawanshi7 commented on #222
@SparshRastogi  you can work on this now

[2022-10-29 17:19] #217 closed

[2022-10-29 18:45] shreya2663 commented on #222
can i do it

[2022-10-29 19:20] Kriti-2308 commented on #185
i have sent the pull request

[2022-10-29 19:20] Kriti-2308 commented on #186
i have sent the pull request

[2022-10-29 19:20] Kriti-2308 commented on #179
i have sent the pull request

[2022-10-29 23:32] SparshRastogi commented on #222
@RuchikaSuryawanshi7 thanks,I will try to complete that by today's evening

[2022-10-30 06:47] RuchikaSuryawanshi7 opened #228 "Explain Bubble Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:52] RuchikaSuryawanshi7 opened #229 "Explain Bucket Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:52] RuchikaSuryawanshi7 opened #230 "Explain Selection Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:52] RuchikaSuryawanshi7 opened #231 "Explain Insertion Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:52] RuchikaSuryawanshi7 opened #232 "Explain Merge Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:53] RuchikaSuryawanshi7 opened #233 "Explain Quick Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:53] RuchikaSuryawanshi7 opened #234 "Explain Heap Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:53] RuchikaSuryawanshi7 opened #235 "Explain Counting Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 06:53] RuchikaSuryawanshi7 opened #236 "Explain Radix Sort Algorithm and its Implementation"
- Explain the Algorithm in detail with pictorial format (using images, gifs, animation, etc)
- Add implementation code

_**Note: add your readme.MD in Algorithm/Sorting Algorithm/ your file**_

[2022-10-30 07:03] shreya2663 commented on #232
can i do this

[2022-10-30 07:37] SparshRastogi commented on #232
Can you please assign this to me?

[2022-10-30 07:39] SparshRastogi commented on #222
@RuchikaSuryawanshi7 can I do the explanation part in the docstrings or do you need a Readme.md file for that?

[2022-10-30 08:14] AyuavnGautam commented on #230
Kindly assign me the issue.

[2022-10-30 09:50] tarushirastogi opened #239 "Create a directory for searching algorithms and add implementation of binary search algorithm to it"
@RuchikaSuryawanshi7
@JMukta25
I would like to create a  directory of searching algorithm in your repository for Hacktoberfest 2022 and add implementation of binary search algorithm in cpp to it , please assign this issue to me so that I can proceed with it.

[2022-10-30 09:56] #222 closed

[2022-10-30 10:00] #185 closed

[2022-10-30 10:00] tarushirastogi opened #240 "Add implementation of linear search to the searching algorithm directory"
@RuchikaSuryawanshi7
I would like to add implementation of linear search algorithm in cpp. Please assign this issue to me so that I can proceed with it as a part of Hacktoberfest 2022.

[2022-10-30 10:00] #186 closed

[2022-10-30 10:48] tarushirastogi commented on #239
@RuchikaSuryawanshi7
@JMukta25
I have completed the above implementation in the pull request #241
Kindly review it.

[2022-10-30 10:54] #239 closed

[2022-10-30 10:54] RuchikaSuryawanshi7 commented on #230
@AyuavnGautam you can work on this, don't be late as only 24hrs left for hacktoberfest to end

[2022-10-30 10:55] RuchikaSuryawanshi7 commented on #240
@tarushirastogi you can work on this, don't be late as only 24hrs left for hacktoberfest to end

[2022-10-30 10:57] RuchikaSuryawanshi7 commented on #232
@shreya2663 you can work on this, don't be late as only 24hrs left for hacktoberfest to end

[2022-10-30 11:50] SparshRastogi opened #242 "Add sliding window algorithm"
@RuchikaSuryawanshi7 @JMukta25 I would like to create a new directory of algorithms in your repository and add the python implementation of Sliding Window Algorithm to it,can you please assign the issue to me so that I can move forward with it

[2022-10-30 12:43] tarushirastogi commented on #240
@RuchikaSuryawanshi7
@JMukta25
I have made the submission for this issue in the pull request #243
Kindly review it.

[2022-10-30 12:51] tarushirastogi opened #244 "Add an algorithm for reversing the linked list"
@RuchikaSuryawanshi7
@JMukta25
I would like to create an algorithm for reversing the linked list in cpp as part of Hacktoberfest 2022.
Kindly assign this issue to me so that I can proceed further.

[2022-10-30 16:28] arghyadutta080 commented on #244
I can do this, please assign it to me.

[2022-10-30 16:30] arghyadutta080 commented on #228
I can do this, can you please assign it to me?

[2022-10-30 16:34] arghyadutta080 commented on #231
I can do this. Can u please it to me?

[2022-10-31 09:48] OjasiG commented on #229
Ojasi Gokhale
CCOEW
TY Comp
Can you please assign this issue to me?

[2022-10-31 09:49] OjasiG commented on #234
Ojasi Gokhale
CCOEW
TY Comp
Can you please assign this issue to me?

[2022-10-31 09:50] Sakshi778 commented on #235
Sakshi Khaire
CCOEW
Comp TY
I would like to work on this issue.

[2022-10-31 10:17] arghyadutta080 commented on #231
@RuchikaSuryawanshi7 PR sent. Please check it out

[2022-10-31 14:23] SparshRastogi commented on #244
This issue has already been completed with the merger of #248 pull request so why are you assigning it now again @JMukta25

[2022-10-31 14:36] JMukta25 commented on #235
I have assigned solve fast

[2022-10-31 14:44] OjasiG commented on #236
Ojasi Gokhale
CCOEW
TY COMP
Can you please assign this issue to me?

[2022-10-31 14:47] OjasiG commented on #233
Ojasi Gokhale
CCOEW
TY COMP
Can you please assign this issue to me?

[2022-10-31 16:17] SaxenaAnushka102 commented on #230
Hello @RuchikaSuryawanshi7! I'd like to contribute could you please assign to me?